<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Caytree Financial</title>

    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/dropdowns-enhancement.min.css">
    <link rel="stylesheet" href="../assets/css/daterangepicker-bs3.css">
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/added-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="../assets/css/daterangepicker-bs3.css" />
    <!--<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic' rel='stylesheet' type='text/css'>-->

    <!---Queries -->
    <link rel='stylesheet' media='screen and (max-width:768px)' href='css/mobile.css' />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/jquery-2.1.3.min.js" type="text/javascript"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/dropdowns-enhancement.js"></script>
    <script type="text/javascript" src="../js/moment.js"></script>
    <script type="text/javascript" src="../js/daterangepicker.js"></script>
</head>


<body>
      
  <div class="container">
      <!--Navigation-->
      <div class="container-fluid">
         <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="index.html"><img src="images/CaytreeFinancialLogo.png" alt=" Caytree Financial"></a>
                </div>
            </div>
          </nav>
      </div>

      <div class="container toolBody">

          <!--Profile Nav -->
          <div class="businessNav" >
              <div class="container-fluid ">
                  <a href="#/Business/Dashboard" ng-show="shell.operationMode() === 'business'">
                      <div class="col-xs-6 pt pb bg-darker color-white pl">
                          <p>
                              <span class="small">Business</span><br />
                              <span class="strong" ng-if="shell.currentPrincipal">RadDev Consulting</span>
                          </p>
                      </div>
                  </a>
                  <div class="col-xs-6 pt pb">
                      <div class="color-white text-right">
                          <p><span class="small">Today</span><br /><span class="strong">16 Sept, 2015</span></p>
                      </div
                  </div>
              </div>
          </div>
      </div>
			  
    <!--Tool Container -->
    <div class="container-fluid toolContainer">
        <div class="row-fluid iconButtons">
  
            <div class="col-xs-4">
						 <div class="row-fluid">
							 <ul>
								 <li>
									 <div class="col-xs-12">
										 <div class="dashboardBtn round">
											<p><a href="#">Dashboard</a></p>
										 </div>
									 </div>
								 </li>
								 <li>
									<div class="col-xs-6">
                                       <div class="incomeBtn round"> 
										  <p> <a><img src="images/iconIncome.png" alt=""/><br />Revenue</a></p>
										</div>
                                    </div>		
								 </li>
								 <li>
								 	<div class="col-xs-6">
                                       <div class="expenseBtn round"> 
										  <p> <a><img src="images/iconExpense.png" alt=""/><br />Expenditure</a></p>
										</div>
                                    </div>									 
								 </li>
								 <li>
							  		<div class="col-xs-6">
                                       <div class="invoicesBtn round"> 
										  <p> <a><img src="images/iconInvoices.png" alt=""/><br />Invoices</a></p>
										</div>
                                    </div>										 
								 </li>
								 <li>
									 <div class="col-xs-6">
                                       <div class="productsBtn round"> 
										  <p> <a><img src="images/iconProducts.png" alt=""/><br />Products</a></p>
										</div>
                                    </div>
								 </li>
								 <li>
								 	<div class="col-xs-6">
                                       <div class="accountsBtn round"> 
										  <p> <a><img src="images/iconAccounts.png" alt=""/><br />Accounts</a></p>
										</div>
                                    </div>										 
								 </li>
								<li>
							  		<div class="col-xs-6">
                                       <div class="reportsBtn round"> 
										  <p> <a><img src="images/iconReports.png" alt=""/><br />Reports</a></p>
										</div>
                                    </div>										
								 </li>	
								 <li>
								    <div class="col-xs-6">
                      <div class="reportsBtn round"> 
										    <p> <a><img src="images/iconReports.png" alt=""/><br />Contacts</a></p>
										  </div>
                    </div>									 
								 </li>								  		
								 <li>
								 <div class="col-xs-12">
                                       <div class="reportsBtn bizReports round active"> 
										  <p> <a>IMPORTED TRANSACTIONS</a></p>
										</div>
                                    </div>									 
								 </li>
							 </ul>
		                              		                                           
              </div>

            </div>
                      
            <div class="col-xs-8">






            <!-- WILSON: STARTS HERE -->






              <div class="container-fluid">
                  <h1 class="n-pm">Imported Transactions</h1>
              </div>
              
              <div class="container-fluid">
                  <div class="col-xs-12">
                    <ol class="breadcrumb">
                      <li><a href="first">Dashboard</a></li>
                      <li><a>Imported Transactions</a></li>
                    </ol>
                  </div>
              </div>



              <div class="container-fluid">
                <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="col-xs-12 mb">
                    <!--<button class="btn btn-info">Actions <span class="caret"></span></button>-->


                    <div class=""><!-- Filter, Search and Daterange -->

                      <!-- Filter -->
                      <!-- Added Dropdown Enhancement plugin. -->
                      <div class="col-xs-2 fsd dropdown">
                        <a href="" class="fsd-filter dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Filter <div class="pull-right"><i class="fa fa-caret-down"></i></div>
                        </a>
                        <ul class="dropdown-menu">
                          <li class="dropdown-submenu" role="presentation">
                            <a  data-toggle="dropdown" tabindex="-1" href="#">Products</a>
                            <ul class="dropdown-menu">
                              <li><a href="#" tabindex="-1">Makeup</a></li>
                              <li><a href="#" tabindex="-1">Beauty</a></li>
                              <li><a href="#" tabindex="-1">Utilities</a></li>
                              <li><a href="#" tabindex="-1">Makeup</a></li>
                              <li><a href="#" tabindex="-1">Beauty</a></li>
                              <li><a href="#" tabindex="-1">Utilities</a></li>
                              <li><a href="#" tabindex="-1">Makeup</a></li>
                              <li><a href="#" tabindex="-1">Beauty</a></li>
                              <li><a href="#" tabindex="-1">Utilities</a></li>
                              <li><a href="#" tabindex="-1">Makeup</a></li>
                              <li><a href="#" tabindex="-1">Beauty</a></li>
                              <li><a href="#" tabindex="-1">Utilities</a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu" role="presentation">
                            <a  data-toggle="dropdown" role="menuitem" tabindex="-1" href="#">Customer</a>
                            <ul class="dropdown-menu">
                              <li><a href="#" tabindex="-1">Nakumatt</a></li>
                              <li><a href="#" tabindex="-1">Uchumi</a></li>
                              <li><a href="#" tabindex="-1">Naivas</a></li>
                            </ul>
                          </li>
                          <li ><a href="#">Agent</a></li>
                        </ul>
                        </a>
                      </div>

                      <!-- Search -->
                      <div class="fsd fsd-search col-xs-3">
                        <input class="" type="text" placeholder="Search">
                      </div>

                      <!-- Daterange -->
                      <!-- Please note the daterangepicker's options "opens: left" on the Javascript side -->
                      <div class="fsd col-xs-6 fsd-date" id="daterangecontainer">
                        <i class="fa fa-calendar-o"></i>&nbsp;&nbsp;&nbsp;<span></span>
                      </div>

                      <!-- Actions -->
                      <div class="fsd dropdown col-xs-1">
                        <a href="" title="Quick actions" class="fsd-actions dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                          <span class="text-center fw"><i class="fa fa-ellipsis-h"></i></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Add to default category</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Mark as "Not Posted"</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Delete transactions</a></li>
                          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Send SMS</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <table class="table table-hover table-responsive">
                    <thead>
                      <th><input type="checkbox" /></th>
                      <th>#</th>
                      <th>Name</th>
                      <th>Category</th>
                      <th>Date</th>
                      <th colspan="2">Amount</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="mts"><input type="checkbox" /></td>
                        <td>1</td>
                        <td class="strong pointer"><span data-trigger="click" data-toggle="popover" data-html="true" data-content="
                          <h4 class='h4 n-pm' title='Posted transaction'>Charles Kagiri</h4>
                          <div class='divider-sm'></div>
                          <span class='h5'><i class='fa fa-calendar-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class='strong'>30th January 2015</span>, 4:56am </span>
                          <div class='divider-sm'></div>
                          <span class='h5'><strong>Financial Account:</strong> Lipa na MPESA &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Post to: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Product: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select></span>
                          <div class='divider-sm'></div>
                          <span class='h5'><strong>Transaction Ref:</strong> DE45GK45<br /><strong>Till:</strong> M&S Store</span>

                          ">Charles Kagiri</span></td>
                        <td>-</td>
                        <td>12 Jan, 2015</td>
                        <td><strong>1,200</strong></td>
                        <td><a href="" class="row-link-hover"><i class="fa fa-ellipsis-h"></i></a></td>
                      </tr>


                      <tr>
                        <td class="mts"><input type="checkbox" /></td>
                        <td>2</td>
                        <td class="strong pointer">
                          <span class="link" data-trigger="click" data-toggle="popover" data-html="true" data-content="
                          <h4 class='h4 n-pm' title='Posted transaction'>Shadrack K. B.</h4>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><i class='fa fa-calendar-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class='strong'>30th January 2015</span>, 4:56am<span>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><strong>Financial Account:</strong> Lipa na MPESA &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'>Post to: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select> &nbsp;&nbsp; <span><i class='fa fa-check-circle'></i> Saved</span></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Product: &nbsp;&nbsp; Nice and Lovely &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><strong>Transaction Ref:</strong> DE45GK45<br /><strong>Till:</strong> M&S Store</span>


                          ">Shadrack K. B.</span>
                        </td>
                        <td>-</td>
                        <td>14 Jan, 2015</td>
                        <td><strong>1,200</strong></td>
                        <td><a href="" class="row-link-hover"><i class="fa fa-ellipsis-h"></i></a></td>
                      </tr>


                      <tr class="inactive">
                        <td class="mts"><input type="checkbox" /></td>
                        <td>3</td>
                        <td class="strong pointer">
                          <span data-trigger="click" data-toggle="popover" data-html="true" data-content="
                          <h4 class='h4 n-pm' title='Posted transaction'>John K. Doe</h4>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><i class='fa fa-calendar-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class='strong'>30th January 2015</span>, 4:56am<span>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><strong>Financial Account:</strong> Lipa na MPESA &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><i class='fa fa-check-circle'></i>&nbsp;&nbsp;&nbsp;&nbsp;Posted in <strong>Makeup Sales</strong></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Product: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><strong>Transaction Ref:</strong> DE45GK45<br /><strong>Till:</strong> M&S Store</span>


                          ">John K. Doe</span>
                        </td>
                        <td><i class="fa fa-check-circle"></i>&nbsp;&nbsp;&nbsp;Makeup & Hair Store</td>
                        <td>21 Jan, 2015</td>
                        <td><strong>1,200</strong></td>
                        <td><a href="" class="row-link-hover"><i class="fa fa-ellipsis-h"></i></a></td>
                      </tr>


                      <tr>
                        <td class="mts"><input type="checkbox" /></td>
                        <td>4</td>
                        <td class="strong pointer">
                        <span data-trigger="click" data-toggle="popover" data-html="true" data-content="
                          <h4 class='h4 n-pm' title='Posted transaction'>Grace W.</h4>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><i class='fa fa-calendar-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class='strong'>30th January 2015</span>, 4:56am<span>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><strong>Financial Account:</strong> Lipa na MPESA &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'>Post to: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select> &nbsp;&nbsp; <span><i class='fa fa-check-circle'></i> Saved</span></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Product: &nbsp;&nbsp; Nice and Lovely &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><strong>Transaction Ref:</strong> DE45GK45<br /><strong>Till:</strong> M&S Store</span>


                          ">Grace W.</span>
                        </td>
                        <td>-</td>
                        <td>22 Jan, 2015</td>
                        <td><strong>1,200</strong></td>
                        <td><a href="" class="row-link-hover"><i class="fa fa-ellipsis-h"></i></a></td>
                      </tr>


                      <tr class="inactive">
                        <td class="mts"><input type="checkbox" /></td>
                        <td>5</td>
                        <td class="strong pointer">
                          <span data-trigger="click" data-toggle="popover" data-html="true" data-content="
                          <h4 class='h4 n-pm' title='Posted transaction'>Judy R.</h4>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><i class='fa fa-calendar-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class='strong'>30th January 2015</span>, 4:56am<span>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><strong>Financial Account:</strong> Lipa na MPESA &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><i class='fa fa-check-circle'></i>&nbsp;&nbsp;&nbsp;&nbsp;Posted in <strong>Makeup Sales</strong></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Product: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><strong>Transaction Ref:</strong> DE45GK45<br /><strong>Till:</strong> M&S Store</span>


                          ">Judy Ranji</span>
                        </td>
                        <td><i class="fa fa-check-circle"></i>&nbsp;&nbsp;&nbsp;Makeup & Hair Store</td>
                        <td>28 Jan, 2015</td>
                        <td><strong>1,200</strong></td>
                        <td><span><i class="fa fa-ellipsis-h"></i></span></td>
                      </tr>

                      <tr>
                        <td class="mts"><input type="checkbox" /></td>
                        <td>6</td>
                        <td class="strong pointer">
                          <span data-toggle="popover" data-trigger="click" data-html="true" data-content="
                          <h4 class='h4 n-pm' title='Posted transaction'>Charles Kagiri</h4>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><i class='fa fa-calendar-o'></i>&nbsp;&nbsp;&nbsp;&nbsp;<span class='strong'>30th January 2015</span>, 4:56am<span>
                          <div class='divider-sm'></div>
                          <span class='h5 mbs'><strong>Financial Account:</strong> Lipa na MPESA &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'>Post to: &nbsp;&nbsp; <select><option>Option 1</option><option>Option 2</option></select> &nbsp;&nbsp; <span><i class='fa fa-check-circle'></i> Saved</span></span>
                          <div class='divider-sm'></div>
                          <span class='h5'>Product: &nbsp;&nbsp; Nice and Lovely &nbsp;&nbsp; <i class='fa fa-check-circle'></i></span>
                          <div class='divider-sm'></div>
                          <span class='h5 pbs'><strong>Transaction Ref:</strong> DE45GK45<br /><strong>Till:</strong> M&S Store</span>


                          ">Wilson Gichuki</span>
                        </td>
                        <td>-</td>
                        <td>2 Feb, 2015</td>
                        <td><strong>1,900</strong></td>
                        <td><a href="" class="row-link-hover"><i class="fa fa-ellipsis-h"></i></a></td>
                      </tr>


                    </tbody>
                  </table>
                  <nav class="text-center n-pm">
                    <ul class="pagination">
                      <li>
                        <a href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="active"><a href="#">1</a></li>
                      <li>
                        <a href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  </div>
                </div>
              </div>








              <script type="text/javascript">
                $(function () {
                  


                  $('[data-toggle="popover"]').popover();
                  $('[data-toggle="tooltip"]').tooltip();
                  $('#daterangecontainer span').html(
                    moment().subtract(6, 'days').format('Do MMM, YY') + ' - ' + moment().format('MMM Do, YY')
                  );
                  $('#daterangecontainer').daterangepicker({
                      opens: 'left',
                      format: 'MM/DD/YYYY',
                      startDate: moment().subtract(29, 'days'),
                      endDate: moment(),
                      minDate: '01/01/2012',
                      maxDate: '12/31/2015',
                      dateLimit: { days: 60 },
                      showDropdowns: true,
                      showWeekNumbers: false,
                      timePicker: false,
                      timePickerIncrement: 1,
                      timePicker12Hour: true,
                      ranges: {
                         'Today': [moment(), moment()],
                         'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                         'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                         'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                         'This Month': [moment().startOf('month'), moment().endOf('month')],
                         'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                      },
                      drops: 'down',
                      buttonClasses: ['btn', 'btn-sm'],
                      applyClass: 'btn-info',
                      cancelClass: 'btn-empty',
                      separator: ' - ',
                      locale: {
                          applyLabel: 'Submit',
                          cancelLabel: 'Cancel',
                          fromLabel: 'From',
                          toLabel: 'To',
                          customRangeLabel: 'Custom',
                          daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
                          monthNames: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                          firstDay: 1
                      }
                  }, function(start, end, label) {
                      console.log(start.toISOString(), end.toISOString(), label);
                      $('#daterangecontainer span').html(start.format('MMMM D, YY') + ' to ' + end.format('MMMM D, YY'));
                  });
                  
                })
              </script>
              <!-- WILSON: HTML ENDS HERE -->      
						</div>								  
                                      
            </div>
            
          </div>
      
      <!--Copyright-->
      <div class="container copyright">
          <div class="container-fluid">
              <div class="col-xs-8">
                  <p>Copyright © 2013-2014 Caytree Partners LLC. All Rights Reserved.</p>
              </div>
              <div class="africa col-xs-4">
                   <p>Made in Africa</p>
              </div>
          </div>
      </div>
      
	 <script type="text/javascript">
	   $(document).ready(function() {
		  $('#reportrange2 span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
		  $('#reportrange2').daterangepicker();
	   });
	 </script>
  </body>
</html>