.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}
.pointer{
	cursor: pointer;
}

.btn-empty{
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
	vertical-align: middle;
}

.divider{
	margin-top: 14px;
	margin-bottom: 14px;
	border-top: #ccc solid 1px;
	width: 100%;
	display: inline-block;
}
.divider-md{
	margin-top: 18px;
	margin-bottom: 18px;
	border-top: #ccc solid 1px;
	width: 100%;
	display: inline-block;
}
.divider-sm{
	margin-top: 7px;
	margin-bottom: 7px;
	border-top: #ccc solid 1px;
	width: 100%;
	display: inline-block;
}
.bg-light-grey{
	background-color: #f1f1f1;
}
input[type="checkbox"] {
	margin: 0;
	vertical-align: middle;
}

strong, .strong{
	font-weight: 700;
}
.full-width, .fw{
	width: 100%;
}
.table-hover > tbody > tr.inactive > td, .table-hover > tbody > tr.inactive > td > a {
  background-color: #e8e8e8;
  color: #888;
}


.fsd{
	background: #f1f1f1;
	border-top: #ccc solid 1px;
	border-bottom: #ccc solid 1px;
	border-left: #ccc solid 1px;
	height: 41px;
	vertical-align: middle;
	color: #999;
	font-size: 14px;
	cursor: pointer;
}
.fsd:first-child{
	border-left: #ccc solid 1px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.fsd:last-child{
	border-right: #ccc solid 1px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.fsd a{
	color: #999;
}
.fsd.fsd-filter, .fsd.fsd-search, .fsd.fsd-date, .fsd.fsd-actions, .fsd .fsd-filter, .fsd .fsd-search, .fsd .fsd-date, .fsd .fsd-actions{
	padding: 12px 14px;
	display: block;
}
.fsd:hover{
	background: #fff;
}
.fsd.fsd-search input{
	border: none;
	padding: 0;
	margin: 0;
	outline: none;
	background: none;
	width: 100%;
	font-size: 14px;
	height: 17px;
	color: #000;
}