.store-products {
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
    position: relative;

    .product {
        padding: 15px;
        border: transparent solid 3px;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 4px;
        display: inline-block;
        overflow: visible;

        -webkit-transition: all ease .2s;
        -moz-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;

        -webkit-column-break-inside: avoid;
        page-break-inside: avoid;
        break-inside: avoid;

        .info, img {
            position: relative;
            display: block;
        }
        &:before, &:after {
            box-sizing: content-box !important;
        }

        img {
            width: 100%;
            border-radius: 4px;
            margin-bottom: 5px;
        }

        &:hover {
            background: #fff;
            border: #ccc solid 1px;
            border-radius: 4px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
        }
    }
    .product.active {
        background: #fff;
        border: #ccc solid 1px;
        border-radius: 4px;
        &:hover{
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
        }
    }
    .product.highlight {
        background: #fbffbf;
        border: #eeff62 solid 1px;
        border-radius: 4px;
        &:hover {
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.18);
        }
    }
    .out-of-stock{
        background: none;
        border: none;
        color: #999;
        cursor: auto;

        img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.5;
        }

        &:hover {
            background: none;
            border: none;
            color: #999;
            box-shadow: none;
        }
    }
}