body { font-family: 'Alegreya Sans', sans-serif;}
.light-green-back  { background: #33ad5c;  color: #fff;}
.parrot-green-back  { background: #76a635; color: #fff;}
.gray-blue-back     { background: #7f8e93; color: #fff;}
.light-gray-back 	{ background: #a2a2a2; color: #fff;}
.gray-btn { background: #d0d0d0;}
.dark-gray-back  	{ background: #777777;}
.light-green-text { color:#2fcc71;}
.radius-none { border-radius: 0px;}
.sub-buttons a { width: 100%;}
a * { outline: none; -moz-outline:0px;}
.pad-zero { padding: 0px;}
.nav-sparat { border-top:1px solid #d9d9d9; height: 0px; display: block; width: 100%;}
.navbar-top {  margin-bottom: 0px; }
.navbar-top .row{ padding: 11px 0px;}
.profile-nav { padding-top: 5px; padding-bottom: 5px;}
.fa-28 { font-size: 28px;}
.profile-nav > ul > li > a { white-space: pre;}
.profile-nav > ul > li > a strong { 
	line-height: 28px;
	float: left;
	font-size: 17px;
	padding-left: 0px;
	padding-right: 35px;
	font-weight: normal;
	white-space: pre;
}
.navbar-top .navbar-right > li:first-child a { min-width:180px;}
.navbar-top a i  { color:#acacac;}
.navbar-top a:hover i , .navbar-top a { color:#4e4e4e;}
.navbar-top a.dropdown-toggle , .navbar-top a.dropdown-toggle:hover ,  .navbar-top a.dropdown-toggle:focus  { background: none; display: inline-block;}

/*2nd nav*/
#bs-example-navbar-collapse-1 { padding-left: 0px; padding-right: 0px; border: 0px;}
.navbar-second { background: #7f8e93; border-radius: 0px; color:#fff;  padding: 22px 0px; margin-bottom: 0px;}
.navbar-second h2 { font-weight: 100; margin: 0px 0px;  text-align: left; white-space: pre;}
.navbar-second strong {
	line-height: 39px;
	float: left;
	font-size: 17px;
	font-weight: normal;
	white-space: pre;
}
.content-section { background: #f9f9f7; padding-top: 20px;}
.form-veri { background: #fff; padding: 2% 3%;}
.form-veri label{ font-size: 16px; font-weight: normal;} 
.form-veri h3 { margin-top: 0px;}
.form-veri fieldset .nav.nav-tabs li a{ background: #d0d0d0; font-weight: bold; color:#fff;}
.form-veri fieldset .nav.nav-tabs li.active a{ background: #a2a2a2;}
.form-veri fieldset table {border-top:1px solid #fff; border-bottom: 0px; border-left: 0px; border-right: 0px;}
.form-veri fieldset table tr td:first-child , .form-veri fieldset table tr th:first-child { border-left: 0px;}
.form-veri fieldset table tr td:last-child , .form-veri fieldset table tr th:last-child { border-right: 0px;}
.form-veri fieldset table td , .form-veri fieldset table th { padding: 16px; vertical-align: middle; font-size: 18px;}
.form-veri fieldset table th { background: #a2a2a2; color:#fff; font-weight: normal; border-bottom: 0px; }
.form-veri fieldset table th i {
padding-right: 7px;
line-height: 30px;
padding-left: 23px;
font-style: normal;
}
.form-veri .nav-tabs li a { padding: 10px 29px; mar }
.form-veri .nav-tabs li:last-child  a{ margin-right: 1px; -moz-margin-end:0px;}
.form-veri .nav-tabs { border-bottom: 0px;}
hr.black { border-color: black;}
.form-veri fieldset { margin-bottom: 15px; padding-bottom: 15px; border-bottom: 1px solid lightgray;}
.form-veri select{ background: #f9f9f7; }
hr.dotted { height: 0px; margin: 23px 0px; border: 1px dashed gray; padding: 0px; min-height: 0px;}
.quiz-circle {
border-radius: 50%;
background: #e3e3e3;
width: 30px;
height: 29px;
text-align: center;
line-height: 32px;
font-size: 26px;
color: #fff;
}
h3 span { display: inline-block;}
h3 span:last-child { margin-left: 10px;}
section label { text-shadow:0px 0px 0px black; }
section h3 , section h3 span { color: #4e4e4e;}
.account-usage label { color:# }
.contact-verification label { color:#4e4e4e; }
.contact-verification label:last-child { color: #777777;}
.security-settings label { color: #}
.security-settings .text-danger { color:#e84c3d; text-shadow:0px 0px 0px #e84c3d; } 
.sub-plan label { color: #777777}

/* MENU-LEFT
-------------------------- */
/* layout */
#left_nav ul.nav {
    margin-bottom: 2px;
    font-size: 12px; /* to change font-size, please change instead .lbl */
}
#left_nav .navbar-default { background-color:transparent; border-width: 0px;}
#left_nav ul.nav ul,
#left_nav ul.nav ul li {
    list-style: none!important;
    list-style-type: none!important;
    margin-top: 0px;
    margin-bottom: 0px;
}
#left_nav ul.nav ul {
    padding-left: 0;
    width: auto;
}
#left_nav ul.nav ul.children {
    padding-left: 0px;
    width: auto;
}
#left_nav ul.nav ul.children li{
    margin-left: 0px;
}
#left_nav ul.nav li a:hover {
    text-decoration: none;
}

#left_nav ul.nav li a:hover .lbl {
}

#left_nav ul.nav li.current>a .lbl {
    background-color: #999;
    color: #fff!important;
}
/* parent item */
#left_nav ul.nav li.parent a {
    padding: 8px 16px;
    color: #ccc;
}
#left_nav ul.nav>li.parent>a {
    border: solid 1px #999;
    text-transform: uppercase;
}    
#left_nav ul.nav li.parent a:hover {
    background-color: #fff;
    -webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow:inset 0 3px 8px rgba(0,0,0,0.125);    
}

/* link tag (a)*/
#left_nav ul.nav li.parent ul li a {
    color: #222;
    border: none;
    display:block;
    padding-left: 51px; 
    background-color: #a2a2a2;   
    border-top: 1px solid #cecece;
}

#left_nav ul.nav li.parent ul li a:hover {
    background-color: #7f8e93;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;  
}

/* sign for parent item */
#left_nav ul.nav li .sign {
    display: inline-block;
    width: 14px;
    padding: 5px 8px;
    background-color: transparent;
    color: #fff;
}
#left_nav ul.nav li.parent>a>.sign{
    margin-left: 0px;
    background-color: #999;
}

/* label */
#left_nav ul.nav li .lbl {
    padding: 2px 12px;
    display: inline-block;
}
#left_nav ul.nav li.current>a>.lbl {
    color: #fff;
}
#left_nav ul.nav  li a .lbl{
    font-size: 12px;
}

/* THEMATIQUE
------------------------- */
/* theme 1 */
#left_nav ul.nav>li[class*="item-"].parent>a {
    background: #777777;
    width: 100%;
}
#left_nav ul.nav>li.item-1.parent>a>.sign,
#left_nav ul.nav>li.item-1 li.parent>a>.sign{
    margin-left: 0px;
}
#left_nav ul.nav>li[class*="item-"] .lbl , #left_nav ul.nav>li[class*="item-"] a:hover .lbl {
    color: #fff;
    text-transform: capitalize;
    font-size: 17px;
    white-space: pre;
}
#left_nav ul.nav>li.item-1 li.current>a .lbl {
    background-color: #ff6307;
    color: #fff!important;
}

/* theme 2 */
#left_nav ul.nav>li[class*="item-"].parent > a {
	border: none;
    border-bottom: solid 1px #ffffff;
}
#left_nav ul.nav>li[class*="item-"].parent > a span:first-child { min-width:28px;}
#left_nav ul.nav>li.item-8.parent>a>.sign,
#left_nav ul.nav>li.item-8 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #51c3eb;
}

/* theme 3 */
#left_nav ul.nav>li.item-15.parent>a {
    border: solid 1px #94cf00;
}
#left_nav ul.nav>li.item-15.parent>a>.sign,
#left_nav ul.nav>li.item-15 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #94cf00;
}
#left_nav ul.nav>li.item-15 .lbl {
    color: #94cf00;
}
#left_nav ul.nav>li.item-15 li.current>a .lbl {
    background-color: #94cf00;
    color: #fff!important;
}

/* theme 4 */
#left_nav ul.nav>li.item-22.parent>a {
    border: solid 1px #ef409c;
}
#left_nav ul.nav>li.item-22.parent>a>.sign,
#left_nav ul.nav>li.item-22 li.parent>a>.sign{
    margin-left: 0px;
    background-color: #ef409c;
}
#left_nav ul.nav>li.item-22 .lbl {
    color: #ef409c;
}
#left_nav ul.nav>li.item-22 li.current>a .lbl {
    background-color: #ef409c;
    color: #fff!important;
}
.top-zero { margin-top: 0px;}
#left_nav .navbar-toggle .icon-bar { background: #fff;}
.navbar-toggle {
	background: #76a635;
	border-color: #fff !important;
	border-radius: 0px;
}
.li_span_back { min-width: 28px; margin-right: .3em; display: inline-block;line-height: 1; height: 28px; width: 28px;}
.general-image { background: url(../images/general.png) no-repeat center center; }
.personal-image { background: url(../images/personal.png) no-repeat center center;}
.business-image { background: url(../images/business.png) no-repeat center center;}

.calendar-image { background: url(../images/calendar.png) no-repeat center left; }
.tag-image { background: url(../images/tag.png) no-repeat center left;}
.alaram-image { background: url(../images/alaram.png) no-repeat center left;}

@media (min-width: 993px) {
	.navbar-second h2 {
		font-weight: 100;
		margin: 0px 0px;
		text-align: left;
		white-space: pre;
		line-height: 38px;
	}
	.content-section {  min-height: 470px}	
	}
@media( min-width: 768px) and (max-width:992px ){
	#left_nav ul.nav>li[class*="item-"] .lbl, #left_nav ul.nav>li[class*="item-"] a:hover .lbl { font-size: 16px;}
	#left_nav ul.nav>li[class*="item-"].parent > a span.fa-28 { font-size: 18px;}
	#left_nav ul.nav li .lbl { padding: 0px 7px;}
	.navbar-top .row {padding: 4px 0px;}
	.navbar-second { padding: 16px 0px;}
	.navbar-second h2 {
		font-weight: 100;
		margin: 0px 0px;
		text-align: left;
		white-space: pre;
		line-height: 40px;
		font-size: 26px;
	}

}
@media (max-width: 767px) {
	#left_nav .navbar-default { background-color:#7F8E93; border:0px;}
	.navbar-second { padding: 13px 0px; }
	.navbar-second h2{ font-size: 25px; line-height: 38px;}
	#left_nav .navbar-collapse { margin-top: 51px;} 

}
@media (max-width:  520px) {
	.logo img {
		max-width: 100%;
		height: 42px;
		}
	.navbar-top .navbar-nav { margin-bottom: 0px ; margin-top: 0px;}	
	.navbar-top .fa-28 { font-size: 23px;}
	.profile-nav > ul > li > a strong { padding-right: 5px;}
	.profile-nav { padding-top: 0px;}
	.navbar-second { padding: 7px 0px;}
	.navbar-second h2 { line-height:39px;}
	.navbar-second { padding: 8px 0px; }
	.navbar-second h2{ font-size: 18px; line-height: 39px;}
}

.navbar-brand img{
    max-width:300px;
}

.container{
	max-width:960px;
}