.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
    width:100%;
}
p{
    padding-top:5px;
}

h1{
    font-size:48px;
}

h2{
    font-size:24px;
}
.packages{
    margin:5%;
    clear:both;
    margin:0 auto;
}

.features .row-fluid{
    width:100%;
    float:left;
}
.nav ul li{
    display:inline;
}
.features .row-fluid .col-xs-6{
    width:100%;
}

.std{
    background:#EBF7EF;
}
.super{
    background:#ADDEBE;
}

input[type=radio] + label {
    margin:5px 0;
}

.featuresPlans h4{
    color:#33ad5c;
}

.trial P{
    padding-bottom:10px;
}

.map{
    margin:0 auto;
    width:100%;
    padding:20px 20px 20px 0;
}

.input[type=radio]:checked + label{
    width:100%;
}

.datetimepicker{
    float:left;
    margin-top:10px;
}

.iconButtons .col-xs-4,
.iconButtons .col-xs-8{
    width:100%;
}

.iconButtons .col-xs-6{
    width:50%;
}

.iconButtons .col-xs-6 img{
	width:30%;
}

.toolContainer h1 {
	margin:10px 0 0 5px;
	font-size:30px;
}

.toolContainer h2 {
font-size: 18px;
	margin:0 0 0 5px;
}
.contentArea {
padding: 10px;
margin-bottom: 30px;
}

.caIncome p, .caExpenses p, .caBalance p {
font-weight: 600;
font-size: 18px;
padding: 8px 0;
}

.contentArea h6 {
font-size: 14px;
}

.dashboardHeadersBG .col-xs-6{
	width:100%;
	float:left;
}
.datetimerange {
float: left;
	margin-top:5px;
}
.map img{
width:100%;
}

.container-fluid {
padding-right: 10px;
padding-left: 10px;
margin-right: auto;
margin-left: auto;
}

.profileNav {
	padding: 15px 10px;
}

.navbar-header-right {
margin-left: 15px;
	width:100%;
}

.navbar-brand img{
	width:100%;
}

.copyright p{
	margin:0;
	padding:0;
	font-size:14px;
}

.copyright {
	padding: 10px;
}

.copyright .container-fluid .col-xs-8{
	width:100%;
	padding-bottom:10px;
}

.copyright .container-fluid .col-xs-4 p {
	float:left;
}

.africa{
    background:url(../images/africa.png) no-repeat ;
    background-position:left; 
	padding:0 0 0 50px;
}