html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin : 0;
padding : 0;
border : 0;
font : inherit;
vertical-align : baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
display : block;
}
body {
    line-height : 1;
    font-family : 'Source Sans Pro', sans-serif;
    color : #4e4e4e;
    font-weight : normal;
    background: #EFEFEF;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0 auto;
}

p {
font-size : 18px;
line-height : 120%;
}
ol, ul {
list-style : none;
}
ul li button a {
color : #fff;
}
ul li button a:hover {
text-decoration : none;
color : #fff;
}
blockquote, q {
quotes : none;
}
blockquote:before, blockquote:after, q:before, q:after {
content : none;
}
table {
border-collapse : collapse;
border-spacing : 0;
}
/*
.btn-default {
margin-left : 15px;
}
*/
.nav li {
font-size : 18px;
}
/*.btn-default {
font-size : 18px;
}*/
.navbar {
margin : 10px 0;
}

.navbar-brand img {
max-width : 300px;
}
.container {
width : 100%;
}
.container-fluid {
max-width : 960px;
}
h1, h2 {
text-align : center;
}
h1 {
font-size : 84px;
color : #fff;
margin : 20px 0;
}
h1 span {
text-transform : uppercase;
}
h2 {
color : #fff;
font-size : 30px;
padding : 30px 0 40px 0;
line-height : 120%;
}
h4 {
color : #333331;
font-size : 60px;
}
h5 {
font-size : 24px;
color : #333331;
padding : 30px 0 15px 0;
font-weight : 600;
}
.onboarding {
padding-bottom : 60px;
}

.onboardingBG {
padding : 60px 0 80px 0;
width : 100%;
}

table {
width : 100%;
}
tr {
background : #fff;
    border-bottom: 1px solid #dadada;
}
th, tr, td {
text-align : left;
}


.table th {
color: #fff; 
font-size: 18px;
padding: 10px 8px;
background: #a2a2a2;
border-right: 1px solid #ccc;
border-bottom: none;
border-top: none;
border-left: none;
text-align: left;
}

.table td {
color: #777;
font-size: 14px;
padding: 10px 8px;   
}

a {
text-decoration : none;
}

.round, form input{
    /* Opera 10.5, IE 9, Safari 5, Chrome, Firefox 4, iOS 4, Android 2.1+ */
    border-radius:5px;

    /* Safari 3-4, iOS 1-3.2, Android 1.6- */
    -webkit-border-radius: 5px;

    /* Firefox 1-3.6 */
    -moz-border-radius: 5px;
}
.autoMargin {
    margin : 0 3%;
}
body header {
    background: #fff;
}
.roundWhite {
background : #fff;
padding : 24px;
margin-bottom : 30px;
}

.packages {
background : #fff;
float : left;
border : 1px solid #33ad5c;
text-align : center;
padding : 0 20px 30px 20px;
}
.packages h3 {
color : #33ad5c;
font-size : 54px;
padding : 34px 0;
font-weight : 400;
}
.topr {
margin-top : -16px;
}
.packages h1 {
color : #33ad5c;
font-size : 38px;
padding : 30px 0;
font-weight : 400;
}
.packages h2 {
color : #33ad5c;
font-size : 62px;
font-weight : 600;
padding : 10px 0 0 0;
}
.packages h4 {
color : #33ad5c;
font-size : 22px;
font-weight : 600;
margin-bottom : 20px;
line-height : 120%;
}
.packages sup {
font-size : 30px;
}
.packages p {
padding : 20px;
font-size : 18px;
}
.packages .btn-default, .trial .btn-default {
padding : 15px 0;
margin : 0;
font-size : 24px;
width : 100%;
}
.packages .price {
width : 80%;
margin : 0 auto;
border-bottom : 1px dashed #33ad5c;
border-top : 1px dashed #33ad5c;
}
.price p {
color : #33ad5c;
font-size : 24px;
font-weight : 600;
text-transform : uppercase;
margin : -30px 0 0 0;
}
.packages .tags {
min-height : 200px;
}
.trial {
color : #fff;
background : #71c68d;
padding : 30px;
margin-top : 60px;
text-align : center;
}
.trial p {
font-size : 24px;
}
.trial .btn-default {
font-size : 22px;
border : 1px solid #fff;
}
.account, .pesapal, .success{
margin-top : 60px;
}
.account .col-xs-6 {
padding-left : 30px;
}
.features .col-xs-6 {
padding : 0;
margin : 0;
}
.features .next {
background : #47b56c;
}
.features h2 {
float : left;
padding : 40px 0 40px 0;
font-size : 60px;
}
.features .row-fluid {
clear : both;
}
.featuresHead p {
text-transform : uppercase;
color : #fff;
font-size : 24px;
padding : 20px 0;
font-weight : 600;
}
.featuresPar p {
color : #fff;
font-size : 18px;
padding : 12px;
}
.featuresPlans {
background : #fff;
color : #33ad5c;
padding : 20px;
border-right : 1px solid #33ad5c;
}
.plansFeature {
background : #fff;
color : #33ad5c;
padding : 12px;
border-right : 1px solid #33ad5c;
}
.featuresPlans img, .plansFeature img {
margin-left : 38%;
}
.plansFeature p {
text-align : center;
height : 21px;
}
.featuresPlans h3 {
font-size : 28px;
text-align : center;
font-weight : 600;
}
.featuresPlans h4 {
font-size : 28px;
text-align : center;
font-weight : 400;
color : #fff;
}
.dbWhite {
border-bottom : 1px dotted #fff;
}
.dbGreen {
border-top : 1px dotted #33ad5c;
}
.account h2, .pesapal h2 {
text-align : left;
}
.account p {
color : #fff;
}
.account p a {
text-decoration : none;
border-bottom : 1px dotted #fff;
color : #fff;
}
/* Create My Account form */
.accountForm input, label {
display : block;
}
.accountForm {
background : #5CBD7D;
padding : 30px;
}
.accountForm form button a, .accountForm form button a:hover {
color : #fff;
text-decoration : none;
}
.account h2 {
font-size : 40px;
}
.accountForm label {
color : #fff;
padding : 0 0 8px 0;
font-size : 16px;
}
.accountForm input {
    color : #4e4e4e;
    padding : 0 8px;
    font-size : 14px;
    width : 100%;
    border: none;
    margin-bottom: 10px;
    height: 44px;
}
.accountForm input[type=checkbox] {
    height: 10px;
}
.input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
background-color: #fff;
color: #4e4e4e;
}
.userNames input {
float : left;
width : 98%;
}
.userNames input[id="super-lastname"] {
float : right;
}
.accountForm .options label {
cursor : pointer;
font-size : 16px;
}
.accountForm .col-xs-6 {
padding : 10px 0;
}
.options {
padding : 0;
margin-right : 8px;
background : #47b56c;
}
.options label, .options input {
display : inline;
clear : none;
}

.accountForm .btn-default {
border : 1px solid #fff;
padding : 15px 0;
margin : 10px 0;
font-size : 22px;
width : 100%;
background : #7ac143;
}
.accountForm .btn-default:hover {
background : #6eae3c;
}
.accountForm .split {
border-bottom : 1px dotted #fff;
margin : 40px 0 20px 0;
}
.pesapalFrame {
background : #fff;
padding : 40px 20px;
}
.successMsg {
background : #fff;
margin : 60px 0;
padding : 60px 10px;
text-align : center;
}
.successMsg p {
text-decoration : underline;
}
.success h1 {
color : #33ad5c;
font-size : 48px;
padding-bottom : 20px;
}
.faq {
background : #fff;
margin-top : 60px;
margin-bottom : 60px;
}
.faq .col-xs-6 {
padding-right : 30px;
}
.faq p {
color : #777;
font-size : 17px;
}
.faq h5 {
font-size : 20px;
line-height : 120%;
}
.footr {
border-top : 1px solid #777;
}
.footr p, .footr p a {
color : #777;
}
.footr p a {
border-bottom : 1px dotted #333;
text-decoration : none;
}
.footr p a:hover {
color : #333;
font-weight : bold;
}
.footr ul li {
padding-bottom : 8px;
font-size : 18px;
}
.footr ul li a {
color : #777;
text-decoration : none;
}
.footr ul li a:hover {
color : #333;
font-weight : bold;
}
.footr p {
padding-bottom : 8px;
}
.map {
padding : 30px;
}
.copyright {
    z-index: 4;
    background : #3d4075;
    color : #fff;
    position: relative;
    display: block;
    margin-bottom: -20px;
    padding: 15px 0;
}

.footer-social {
    padding-top: 5px;
}
.footer-social ul li {
    
}
.footer-social ul li a {
    font-size: 14px;
}
.color-white {
    color: #fff;
}
a.color-fb, a.color-tw, a.color-gp {
    color: #999;
    opacity: .8;
}
a.color-fb:hover{
    color: #3a5795;
    opacity: 1;
}
a.color-tw:hover{
    color: #55acee;
    opacity: 1;
}
 a.color-gp:hover{
    color: #db4b39;
    opacity: 1;
}


.africa p {
    float : right;
}

.africa img {
    float : right;
    padding-left : 7px;
    height: 42px;
}
.fr {
    float: right;
}
.fl {
    float: left;
}
.mb {
margin-bottom : 30px;
}
input[type="radio"] {
display : none;
margin : 10px;
}
/*input[type="radio"] + label {
width : 100%;
padding : 20px;
background-color : #b1d1e5;
font-size : 16px;
cursor : pointer;
}*/

.chooseMode {
float : left;
padding : 20px 0;
}
.chooseMode input[type="radio"] {
display : inline-block;
margin : 0 0 0 -56px;
}
.chooseMode label {
margin-top : -40px;
margin-left : 10px;
}
.chooseMode input[type="radio"] + label {
background-color : #5cbd7d;
font-size : 16px;
cursor : pointer;
width : 100%;
}
.packagesOptions {
padding : 0 0;
    color: #fff;
}
.packagesOptions h6 {
color : #fff;
font-size : 26px;
}
.packagesOptions p {
font-size : 16px;
margin-bottom : 30px;
}
.packagesOptions .col-xs-6 {
width : 46%;
margin : 5px;
}
.packagesOptions h3 {
    font-size: 18px;
    padding-bottom: 20px;
}
#SuperAccount {
background : #47b56c;
padding : 40px;
}
#superpackage p span a, #starterpackage p span a, #standardpackage p span a{
    color: #5CBD7D;
    border: none;
    background: none;
    padding: 0 0;
}

#superpackage p, #starterpackage p, #standardpackage p {
color : #fff;
}
#superpackage h2, #starterpackage h2, #standardpackage h2 {
font-size : 40px;
float : left;
}
#superpackage p a, #starterpackage p a, #standardpackage p a {
text-decoration : none;
border: 1px solid #fff;
color : #fff;
background: #7AC143;
padding: 10px 30px;
    margin-top: 20px;
}

#superpackage p a:hover, #starterpackage p a:hover, #standardpackage p a:hover {
    background: #6EAE3C;
}

#starterpackage .forgotPass p,  .accountForm .forgotPass p{
font-size : 14px;
 text-align: center;
    word-spacing: 2px;
}
#starterpackage .forgotPass p a, .accountForm .forgotPass p a {
background : none;
text-decoration : none;
padding : 4px 0;
margin : 0;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
}

 .accountForm .forgotPass p a:hover {
     background: none;
 }
.privacyleft {
margin-left : 30px;
}
.borderpad {
border-top : 1px dashed #fff;
margin-top : 40px;
}
.angulartest {
margin-top : 50px;
border : 1px solid #fff;
}
.pesaframe {
margin-top : 30px;
}
.accountForm form .forgotPass label {
    margin-left: 20px;
}
.accountForm form .checkbox {
padding : 0;
margin-left : -90px;
    margin-top: -24px;
float:left;
}
.accountForm form .checkbox  input, .accountForm form .checkbox label{
display:inline;
}
.accountForm form p {
text-align : left;
}
.accountForm form p a {
background : none;
padding : 0 10px;
}
.accountForm p a {
color : #fff;
background : #7ac143;
padding : 10px 20px;
    border-radius: 5px;
}
.accountForm p a:hover, .accountFormFree p a:hover {
background : #33ad5c;
cursor : pointer;
}
.accountFormFree p a:hover {
border : 1px solid #fff;
}
.accountForm h6 {
word-spacing : 2px;
margin-bottom : 20px;
}
.accountFormFree {
margin-top : 38px;
}
.accountFormFree p a {
color : #fff;
background : #7ac143;
padding : 10px 20px;
    border-radius: 5px;
}
.accountFormFree h6 {
color : #fff;
font-size : 24px;
margin-bottom : 20px;
}
.btn-settings {
width : 30px;
height : 28px;
background : url(../images/settings.png) no-repeat left;
padding-top:46px;	
}
.btn-settings:hover {
background : url(../images/settingsHover.png) no-repeat left;
}


.profileDropDown .dropdown-menu > li > a {
color : #acacac;
}
.profileDropDown .dropdown-menu > li > a:hover {
color : #4e4e4e;
}

.toolBodyOn {
    padding : 0 0 60px 0;
    background : #efefef;
    min-height: 848px;
}
.toolBody {
}

.profileNav {
background : #33ad5c;
}

.personalNav {
background : #33ad5c;
}

.profileNav .btn-default {
color : #2b729e;
background : #fff;
padding : 10px 20px;
}
.profileNav .btn-default:hover, .profileNav .btn-default:focus, .profileNav .btn-default:active, .profileNav .btn-group.open .dropdown-toggle {
background : #5cbd7d;
color : #fff;
}
.businessNav {
background : #2b729e;
}
.settingsNav {
background : #7f8e93;
padding : 10px 0;
}
.settingsNav h1 {
font-size : 30px;
text-transform : uppercase;
float : left;
}
.settingsNav {
float : right;
color : #fff;
margin-top : 30px;
}
.datetimepicker {
color : #fff;
}
.businessNav .btn-default {
color : #5995a9;
background : #fff;
padding : 10px 20px;
}
.businessNav .btn-default:hover, .businessNav .btn-default:focus, .businessNav .btn-default:active, .businessNav .btn-group.open .dropdown-toggle {
background : #97bdca;
color : #fff;
}
.datetimepicker {
float : right;
color : #fff;
}
.datetimepicker p {
font-size : 16px;
}
.datetimerange {
float : right;
}
.toolContainer{
padding : 30px 0;
    height: 100%;
}
.toolContainer h1, .toolContainer h2 {
color : #4e4e4e;
float : left;
}
.toolContainer h1 {
font-size : 40px;
text-transform : uppercase;
margin : 0;
padding : 0 0 30px 0;
}
.toolContainer h2 {
font-size : 24px;
text-transform : uppercase;
padding : 0 0 30px 0;
}
.toolContainer .row-fluid {
clear : both;
}
.toolContainer .breadcrumb {
padding : 10px 15px;
margin-bottom : 20px;
list-style : none;
background-color : #fff;
}
.toolContainer .breadcrumb > li {
display : inline-block;
}
.toolContainer .breadcrumb > li + li:before {
padding : 0 5px;
color : #7b9943;
content : "/\00a0";
}
.toolContainer .breadcrumb > .active {
color : #7b9943;
}
.toolContainer .breadcrumb > .home {
color : #7b9943;
}
.toolContainer .breadcrumb > li a {
color : #c1d166;
}
.toolContainer .breadcrumb > li a:hover {
cursor : pointer;
}

.reportOptions {
float : right;
padding-bottom : 10px;
    margin-bottom: 10px;
}
.reportOptions .glyphicon, .filterBy .glyphicon {
padding-right : 5px;
}
.reportOptions > li, .filterBy > li {
display : inline-block;
}
.reportOptions > li a {
color : #fff;
background : #d0d0d0;
font-size : 12px;
padding : 4px 8px;
}
.filterBy > li a {
color : #fff;
background : #6ddb9c;
font-size : 12px;
padding : 4px 8px;
}
.reportOptions > li a:hover {
background : #76A635;
cursor : pointer;
}
.filterBy {
float : left;
padding-bottom : 10px;
}
.filterBy p {
font-size : 14px;
}
.toolContainer .col-xs-4 {
    width: 31.333334%;
}
.toolContainer .col-xs-8 {
width : 64.666664%;
float : right;
}

.toolContainer .col-xs-9 {
	width : 72%;
}
.iconButtons button a {
color : #fff;
text-transform : uppercase;
}
.iconButtons button a:hover {
text-decoration : none;
}

.dashboardBtn, .incomeBtn, .expenseBtn, .billBtn, .budgetBtn, .reportsBtn, .goalsBtn, .invoicesBtn, .productsBtn, .accountsBtn {
text-align : center;
background : #a2a2a2;
margin : 8px;
}
.incomeBtn, .expenseBtn, .billBtn, .budgetBtn, .reportsBtn, .goalsBtn, .invoicesBtn, .productsBtn, .accountsBtn {
padding : 10% 0;
}
.dashboardBtn, .incomeBtn, .expenseBtn, .billBtn, .budgetBtn, .reportsBtn, .goalsBtn, .invoicesBtn, .productsBtn, .accountsBtn {
text-transform : uppercase;
padding : 10% 0;
}
.dashboardBtn p a, .incomeBtn p a, .expenseBtn p a, .billBtn p a, .budgetBtn p a, .reportsBtn p a, .goalsBtn p a, .invoicesBtn p a, .productsBtn p a, .accountsBtn p a {
font-size : 16px;
color : #fff;
}
.dashboardBtn p a:hover, .incomeBtn p a:hover, .expenseBtn p a:hover, .billBtn p a:hover, .budgetBtn p a:hover, .reportsBtn p a:hover, .goalsBtn p a:hover, .invoicesBtn p a:hover, .productsBtn p a:hover, .accountsBtn p a:hover {
text-decoration : none;
}
.dashboardBtn:hover, .incomeBtn:hover, .expenseBtn:hover, .billBtn:hover, .budgetBtn:hover, .reportsBtn:hover, .goalsBtn:hover, .invoicesBtn:hover, .productsBtn:hover, .accountsBtn:hover {
cursor : pointer;
}
.dashboardBtn ul li:hover {
background : #78bbc7;
}
.incomeBtn:hover, .incomeBtn .active {
background : #2fcc71;
}
.expenseBtn:hover, .expenseBtn .active {
background : #e84c3d;
}
.billBtn:hover, .billBtn .active {
background : #646691;
}
.budgetBtn:hover, .budgetBtn .active {
background : #313F8D;
}
.reportsBtn:hover, .reportsBtn .active {
background : #9c59b8;
}
.goalsBtn:hover, .active {
background : #37cd91;
}
.invoicesBtn:hover, .invoicesBtn .active {
background : #5689a3;
}
.productsBtn:hover, .productsBtn .active {
background : #008fcf;
}
.accountsBtn:hover, .accountsBtn .active {
background : #8bbfd2;
}
.profilePic {
background : #fff;
padding : 10px;
	margin-bottom:15px;
}
.profilePic img {
width : 100%;
}
.editProfileForm textarea{
	min-height:100px;
}
.editProfileForm {
background : #fff;
padding : 15px;
	margin-bottom:15px;
}
.editProfileForm form label, form .editProfileForm label {
font-size : 16px;
}
.editProfileForm form input, .editProfileForm form select, form .editProfileForm input, form .editProfileForm  select, form .editProfileForm  textarea  {
color : #777;
background : #f9f9f7;
font-size : 14px;
width : 100%;
margin : 15px 0;
border : 1px solid #dadada;
}

.editProfileForm form input, form .editProfileForm input {
      padding : 10px 8px;
}

.editProfileForm form select, form .editProfileForm  select {
    border-radius: 5px;
    border : 1px solid #dadada;
    margin-right: 3%;
    padding : 9px 8px;
}
.editProfileForm .btn-group {
    width: 100%;
}
.editProfileForm p  span a{
    font-size: 12px;
    color: #ff0000;
}
.editProfileForm .col-xs-6 {
width : 48%;
}
.editProfileForm .input-group{
	padding-top:15px;
}
.editProfileForm .input-group input{
	margin:0;
	padding:18px 12px;
}

.dob .col-xs-4 {
width : 30%;
padding : 0;
margin : 5px;
}
.editProfileForm .inputLeft {
margin-right : 5px;
}
.editProfileForm .inputRight {
margin-left : 5px;
}
/*.editProfileForm h3{
	font-size:20px;
	font-weight:600;
	padding:15px 0;
}*/
.editProfileForm button{
	background:#87C756;
	padding:10px 20px;
	border-radius:5px;
	border:none;
}
.editProfileForm button:hover{
	background:#7AB34D;
}
.editProfileForm button a{
	color:#fff;
}
.btn-tool {
color : #777;
background-color : #f9f9f7;
border-color : #dadada;
margin-top : 15px;
width : 48%;
padding : 8px 8px;
}
.btn-tool:hover, .btn-tool:focus, .btn-tool:active, .open .dropdown-toggle.btn-tool {
color : #fff;
background-color : #a2a2a2;
}
.btn-tool:active, .btn-tool.active, .open .dropdown-toggle.btn-tool {
background-image : none;
}
.btn-tool.disabled, .btn-tool[disabled], fieldset[disabled] .btn-tool, .btn-tool.disabled:hover, .btn-tool[disabled]:hover, fieldset[disabled] .btn-tool:hover, .btn-tool.disabled:focus, .btn-tool[disabled]:focus, fieldset[disabled] .btn-tool:focus, .btn-tool.disabled:active, .btn-tool[disabled]:active, fieldset[disabled] .btn-tool:active, .btn-tool.disabled.active, .btn-tool[disabled].active, fieldset[disabled] .btn-tool.active {
background-color : #d9534f;
border-color : #d43f3a;
}
.btn-tool .badge {
color : #d9534f;
background-color : #fff;
}
.mobileInput {
padding-bottom : 20px;
}
.mobileInput .col-xs-6 {
width : 50%;
}
.mobileInput .btn-group {
width : 100%;
}
.siteLinks {
padding-top : 30%;
margin-left : 15px;
}
.siteLinks ul li {
font-size : 18px;
border-top : 1px dashed #4e4e4e;
padding : 15px 0;
}
.siteLinks ul li a {
color : #4e4e4e;
text-decoration : none;
font-weight : normal;
}
.siteLinks ul li a:hover {
color : #2b729e;
font-weight : 600;
}
.profileLinks {
 color : #fff;
}
.profileLinks ul li {
font-size : 18px;
border-top : 1px solid #fff;
padding : 15px 0;
background : #90bdda;
}
.profileLinks ul li:hover, .profileLinks .active {
background : #2b729e;
}
.profileLinks ul li a {
color : #fff;
text-decoration : none;
font-weight : normal;
	font-size:16px;
}
.profileLinks .glyphicon{
	padding:0 10px;
}
.profileLinks img {
padding : 0 8px;
}
.btn-save, .btn-cancel {
color : #fff;
font-size : 18px;
width : 48%;
padding : 15px 0;
}
.btn-save:hover, .btn-cancel:hover {
color : #fff;
text-decoration : none;
}
.btn-cancel:hover {
background : #7ac143;
}
.btn-save:hover {
background : #7ac143;
}
.btn-save {
background : #87c756;
}
.btn-cancel {
background : #c7c7c7;
}
.profileCommit {
padding : 20px 0;
}
.profileCommit button{
    padding: 8px 0;
    font-size: 14px;
}
.mobileInput p a {
color : #ff0000;
font-size : 14px;
border-bottom : 1px dotted #ff0000;
margin-bottom : 15px;
}
.mobileInput p a:hover {
color : #ff0000;
text-decoration : none;
}
.form-group {
font-size : 14px;
padding : 0;
}
.contentArea {
background : #ffffff;
padding : 20px;
margin-bottom : 20px;
}
.contentAreaTransaction {
background : #ffffff;
padding : 20px;
}
.contentAreaTop5 {
background : #ffffff;
padding : 15px;
    margin-bottom: 10px;
}
/*.financialArea .col-xs-6, .contentArea .col-xs-6{
width : 48%;
}*/
.financialArea table tr td {
float : left;
border-bottom : 1px solid #ddd;
text-align : left;
font-size : 14px;
    width: 100%;
}
.financialArea table tr {
    width: 100%;
}
.contentArea .col-xs-4 {
width : 29.3%;
margin : 11px;
}
.contentArea h6 {
color : #ffffff;
}
.contentArea .caIncome {
background : #2fcc71;
}
.contentArea .caIncomeTransaction {
background : #2fcc71;
padding : 12px;
}
.contentArea .caIncomeTransaction:hover {
background : #6ddb9c;
}
.contentArea .caIncomeTransaction a {
color : #fff;
}
.contentArea .caIncomeTransaction a:hover {
cursor : pointer;
}
.contentArea .caIncomeTransaction .glyphicon {
padding-right : 6px;
}
.contentArea .bg1 {
background : #2fcc71;
}
.contentArea .bg2 {
background : #6ddb9c;
}
.contentArea .bg3 {
background : #2fcc71;
}
.caIncome .pb {
padding : 12px 0;
}
.contentArea .caExpenses {
background : #e84c3d;
}
.contentArea .caBalance {
background : #646691;
}
.caIncome, .caExpenses, .caBalance {
color : #ffffff;
padding : 15px;
min-height : 200px;
}
.caIncome p, .caExpenses p, .caBalance p {
font-weight : 600;
font-size : 20px;
padding : 15px 0;
}
.caIncome p span, .caExpenses p span, .caBalance p span {
color : #fff;
font-size : 16px;
font-weight : normal;
}

.caBalance p a{
    background:#646691;
    color:#fff;
}
.addbtnIncome .glyphicon {
font-size : 80%;
    padding: 4px;
}
.contentArea .addbtnIncome {
text-align : left;
    width: 100%;
    padding-top: 10%;
}
.contentArea .addbtnIncome a {
background : #fff;
color : #2fcc71;
clear : both;
}
.contentArea .addbtnIncome a:hover, .addbtnExpenses a:hover {
text-decoration : none;
color : #fff;
background : #2fcc71;
border : 1px solid #fff;
}

.contentArea .addbtnExpenses a, .contentArea .addbtnIncome a{
    border-radius:5px;
    padding:5px 10px;
    font-size: 14px;
}
.addbtnExpenses {
    padding-top: 10%;
}
.contentArea .addbtnExpenses a {
color : #e84c3d;
background : #fff;
    border: 1px solid #fff;
}
.contentArea .addbtnExpenses a:hover {
    color : #fff;
background : #e84c3d;
text-decoration : none;
}
.contentArea h3 {
color : #777;
}
.contentArea p span {
font-size : 14px;
color : #fff;
font-weight : normal;
padding : 0;
margin : 0;
line-height : normal;
}
.contentArea h3 span:hover {
cursor : help;
}
.dashboardHeadersBG {
background : #78bbc7;
}

.revenueFunctionsBG {
    background: #32B368;
}
.revenueBorrowing .col-xs-6 {
width : 48%;
}
.revenueHeadersBG {
  background : #32B368;
    margin-bottom: 20px;
}
.revenueHeadersBG h3 {
color : #fff;
font-size : 18px;
padding :12px 8px;
}
.revenueHeadersBG .fr {
margin-left : 90px;
}
.revenueHeadersBG .btn-group button {
background : #fff;
color : #2fcc71;
}
.revenueHeadersBG .glyphicon {
float : right;
}
.revenueHeadersBG .col-xs-3 h3 {
padding : 10px 10px;
}
.dashboardHeadersBG h3 {
color : #fff;
font-size : 18px;
    text-transform: capitalize;
    line-height: 160%;
}
.dashboardHeadersBG h3 span {
color : #fff;
padding : 8px;
font-size : 18px;
text-transform : uppercase;
}
.billTable {
margin-top : 30px;
    position: relative;
}
.billTable thead th {
font-size : 14px;
font-weight: 700;
background : #777;
color : #fff;
border : 1px solid #fff;
}
.billTable table thead th img {
padding : 0 8px 0 0;
}
.billTable table tbody td {
font-size : 14px;
}
.statusRed {
background : #e84c3d;
color : #fff;
text-align : center;
}
.statusGreen {
background : #2fcc71;
color : #fff;
text-align : center;
}
.billTable tbody td .viewbtn{
    text-align:center;
}

.viewbtndelete a {
color : #fff !important;
background: #e84c3d;
font-size : 12px;
font-weight: 400 !important;
padding : 4px 12px;
border-radius:5px;   
}

.viewbtn a{
color : #fff !important;
background : #87c756;
font-size : 12px;
font-weight: 400 !important;
padding : 4px 12px;
border-radius:5px;
}

.rowDark {
background : #f1f1f1;
}
.financialAccounts {
text-align : left;
}
.financialAccounts thead th {
font-size : 14px;
background : #777;
color : #fff;
border : 1px solid #fff;
text-align : left;
}
.financialAccounts tbody td {
font-size : 14px;
text-align : left;
}
.financialAccounts .total td {
color : #2b729e;
font-size : 15px;
}
#reportrange2 {
display : inline-block;
background : #fff;
cursor : pointer;
padding : 5px 10px;
border : 1px solid #ccc;
}
.modal-content {
padding : 20px;
}
.modal-content h5 {
text-align : center;
border-bottom : 1px dashed #ccc;
margin-bottom : 30px;
}
.modal-content p {
text-align : center;
}
.paymentsColumn {
    background: #5CBD7D;
    padding: 20px;
    border-radius: 5px;
}
.paymentsColumn p {
color : #ffffff;
padding-bottom : 15px;
font-size : 18px;
}

.verify {
padding-top : 20px;
margin-top : 30px;
border-top : 1px dashed #ffffff;
}
.accountForm .pb {
padding-bottom : 20px;
}
.navbar-header-right {
padding-top : 10px;
}
.navbar-header-right img {
    padding-right: 20px; 
    padding-top: 5px;
}
#leftMenu .panel-heading {
    background: #a2a2a2;    
}

#leftMenu .accordion-group {
margin-bottom : 0;
border : 0;
}
#leftMenu .accordion-heading {
width : 100%;
border-top : 1px solid #ffffff;
background-color : #777777;
list-style-type : none;
padding : 10px 10px;
}
#leftMenu .accordion-heading .settingsGlobal {
background : url(../images/settingsGlobal.png) no-repeat left;
height : 28px;
padding-top : 5px;
padding-left : 40px;
}
#leftMenu .accordion-heading .settingsPersonal {
background : url(../images/settingsPersonal.png) no-repeat left;
height : 28px;
padding-top : 5px;
padding-left : 40px;
}
#leftMenu .accordion-heading .settingsBusiness {
background : url(../images/settingsBusiness.png) no-repeat left;
height : 28px;
padding-top : 5px;
padding-left : 40px;
}
#leftMenu .accordion-heading a {
color : #ffffff;
text-decoration : none;
font-size : 18px;
}
#leftMenu .accordion-heading a:hover {
color : #ccc;
}
#leftMenu .accordion-heading .active {
width : 182px;
height : 34px;
border : 1px solid #5b5b5b;
background-color : #353535;
}
.accordion-inner ul li {
padding : 10px 0;
background : #a2a2a2;
border-top : 1px solid #cecece;
}
.accordion-inner ul li:hover {
background : #7f8e93;
}
.accordion-inner ul li a {
color : #fff;
padding : 0 0 0 50px;
text-decoration : none;
}
.accordion-inner ul li a:hover {
cursor : pointer;
}
.primaryUsage {
margin-top : 10px;
}
.primaryUsage label {
color : #fff;
text-align : center;
}
.primaryUsage .col-xs-6 {
width : 48%;
margin : 5px;
}
.primaryUsage button {
background : #76a635;
padding : 4px 20px;
float : left;
}
.primaryUsage button a {
color : #fff;
font-size : 16px;
}
.primaryUsage .usageBtn label {
color : #fff;
}
.primaryUsage label {
color : #777;
float : left;
}
.caretWhite {
color : #fff;
display : inline-block;
width : 0;
height : 0;
margin-left : 2px;
vertical-align : middle;
border-top : 4px solid;
border-right : 4px solid transparent;
border-left : 4px solid transparent;
}
.accountSettings input {
color : #777;
background : #f9f9f7;
width : 100%;
padding : 8px 10px;
font-size : 14px;
border : 1px solid #dadada;
    border-radius: 5px;
    margin-bottom: 8px;
}
.accountSettings input[type="checkbox"] {
background : #f9f9f7;
width : 100%;
padding : 8px 10px;
font-size : 14px;
border : 1px solid #dadada;
}
.accountSettings label {
padding : 10px 0;
font-size : 16px;
font-family : 'Source Sans Pro', sans-serif;
font-weight : normal;
}
.accountSettings button {
background : #76a635;
padding : 10px 20px;
float : left;
margin-left : 10px;
    min-width: 140px;
    border-radius: 5px;
    border: none;
}
.accountSettings button:hover {
background : #91b85d;
}
.accountSettings button a {
color : #fff;
}
.accountSettings button a:hover {
text-decoration : none;
}
.accountSettings .col-xs-9 {
float : left;
}
.accountSettings .col-xs-3 {
float : left;
margin : 0;
}
.accountSettings .col-xs-2 {
float : left;
margin-right :4px;
}
.accountSettings .btn-group button, .planUpgrade .btn-group button {
background : #f9f9f7;
border : 1px solid #dadada;
color : #777;
padding : 5px 20px;
font-size : 16px;
}
.planUpgrade {
padding-top : 20px;
}
.planUpgrade .btn-group button, .planUpgrade .btn-group, .genderTown .btn-group {
width : 100%;
}
.planUpgrade .btn-group button, .genderTown .btn-group button {
text-align : left;
}
.planUpgrade .btn-group button .caret, .genderTown .btn-group button .caret {
float : right;
margin : 10px;
}
.mr {
margin-right : 10px;
}
.ml {
margin-left : 10px;
}
.genderTown .col-xs-6 {
width : 48%;
}
.planSubmit button {
background : #76a635;
padding : 8px 20px;
margin-left : 10px;
width : 90%;
}
.planSubmit button a {
color : #fff;
}
.pt {
padding-top : 10px;
}
#verifyPhoneNumber {
clear : both;
}
#submitVerification, #submitAnswer {
padding-top : 30px;
margin-top : 30px;
border-top : 1px dashed #4e4e4e;
}
#submitVerification p, #submitAnswer p {
margin : 0 0 15px 0;
}
.passwordRules p {
color : #ff0000;
font-size : 16px;
padding-bottom : 10px;
}
.passwordRules ul li {
list-style-type : square;
margin-left : 20px;
font-size : 14px;
padding-bottom : 4px;
}
.passChange .col-xs-4 {
float : right;
}
#securityQuestions{
	padding-top: 15px;
}
#securityQuestions .btn-group {
width : 100%;
}
#securityQuestions .btn-group button {
text-align : left;
}
#securityQuestions .btn-group button .caret {
float : right;
margin-top : 10px;
}
.authentication {
padding-top : 10px;
}
.authentication input, .authentication label {
display : inline;
}
.authentication input {
margin-left : -530px;
}
.authentication label {
padding-left : 30px;
}
.saveBtn {
padding-top : 10px;
}
.cancel button {
background : #ccc;
}
.selectedPlan p span {
color : #97b62a;
font-size : 18px;
}
.billingTable {
border-top : 1px solid #4e4e4e;
padding : 30px 0;
margin-top : 30px;
}
/* Billing Tab */
.tabs a {
background : #ff0000;
border-bottom : 1px solid #fff;
}
.tabs a:hover, .tabs a.active {
background : #a2a2a2;
color : #fff;
padding : 10px;
cursor : pointer;
border-bottom : 1px solid #fff;
}
.tabContent {
margin : 4px 0;
padding : 5px;
}
#tab1 table td {
padding : 20px 0;
border : 1px solid #777;
}
#tab1 th {
font-size : 18px;
padding : 15px 0;
color : #fff;
background : #a2a2a2;
border-right : 1px solid #fff;
border-left : none;
border-top : none;
border-bottom : none;
}
.manageUsers table, .revenueBorrowing table {
width : 100%;
margin-top : 10px;
}
.revenueBorrowing table .total td {
color : #fff;
font-size : 16px;
background : #6ddb9c;
}

.revenueBorrowing table .shadeTd td {
background : #f9f9f7;
}
.manageUsers table th, .revenueBorrowing table th {
color : #fff;
font-size : 18px;
padding : 8px;
background : #a2a2a2;
border-right : 1px solid #fff;
border-bottom : none;
border-top : none;
border-left : none;
text-align : left;
}
.manageUsers table td, .revenueBorrowing table td {
color : #777;
font-size : 14px;
padding : 10px 8px;
border : 1px solid #dadada;
border-top : none;
text-align : left;
}
.manageUsers table .edit a, .manageUsers table .delete a, .billTable .edit a {
color : #fff;
padding : 3px 10px;
}
.manageUsers table .edit a, .billTable .edit a {
background : #76a635;
    border-radius:5px;
}
.manageUsers table .edit, .billTable .edit {
text-align : center;
}
.manageUsers table .delete a {
background : #ff3333;
}
.manageUsers table .active a {
color : #fff;
background : #2fcc71;
padding : 0 10px;
}
.manageUsers table .deactivate a {
color : #fff;
background : #ff3333;
padding : 0 10px;
}

.manageUsers a{
    color: #fff;
    background: #7AC143;
    border-radius: 5px;
    padding: 8px 15px;
}

.financialStatements {
padding-top : 15px;
}
.financialStatements input, .financialStatements label {
display : inline;
cursor : pointer;
}
.financialStatements .col-xs-4:hover {
background : #76a635;
color : #fff;
}
.financialStatements .col-xs-4 label:hover, .financialStatements .col-xs-4 input:hover {
cursor : pointer;
}
.kes p span {
color : #fff;
text-transform : uppercase;
}
.filterForm {
background : #ddd;
padding : 20px;
font-size : 12px;
margin-bottom : 20px;
}
.filterForm select {
width : 90%;
color : #777;
padding : 6px;
    border-radius:5px;
}
.filterForm .filterBtn {
background : #76a635;
text-align : center;
padding : 8px 0;
}
.filterForm .advancedBtn {
background : #a2a2a2;
text-align : center;
padding : 9px 0;
font-size : 14px;
text-decoration : none;
}
.filterForm .advancedBtn:hover {
background : #6a9530;
}
.filterForm input[type="submit"] {
color : #fff;
background : none;
border : none;
font-size : 14px;
}
.filterForm .filterBtn {
width : 15%;
}
.filterForm .advancedBtn {
float : right;
}
.filterForm a {
color : #fff;
text-decoration : none;
}
.filterForm a:hover {
cursor : pointer;
background : #EEE;
}
.transactButtons {
margin-bottom : 30px;
}

.transactButtons .col-xs-4, .transactButtons .col-xs-3 {
background : #2fcc71;
text-align : center;
padding : 10px 0;
}
.transactButtons .col-xs-4.deleteButton, .transactButtons .col-xs-3.deleteButton{
background : #e84c3d;
text-align : center;
padding : 10px 0;
}
.transactButtons .col-xs-4:hover, .transactButtons .col-xs-3:hover {
background : #2ab866;
cursor : pointer;
}
.transactButtons .col-xs-4.deleteButton:hover, .transactButtons .col-xs-3.deleteButton:hover{
background : #e84c3d;
cursor: pointer;
}
.transactButtons .col-xs-3 {
    width: 22.5%;
}
.transactButtons .mr {
margin-right : 3%;
}
.transactButtons a {
color : #fff;
text-decoration : none;
}

.advancedFilter {
border-top : 1px dashed #fff;
margin-top : 15px;
}
.advancedFilter label {
color : #4e4e4e;
font-size : 14px;
padding : 15px 0 10px 0;
}
.advancedFilter input {
width : 100%;
border : none;
padding : 6px;
}
.advancedFilter .col-xs-4 {
margin : 0;
}
.advancedFilter .centered {
margin : 0 3%;
}
.advancedFilter .col-xs-4 select {
width : 100%;
}
.mainFilterBtn {
padding : 15px 0 0 0;
}
.mainFilterBtn .col-xs-3 input {
background : #76a635;
color : #fff;
font-size : 16px;
padding : 10px 0;
}
.mainFilterBtn .col-xs-3 input:hover {
background : #6a9530;
}
.productSelect .btn-group {
float : right;
}
.addNewUsers a {
color : #fff;
background : #76a635;
padding : 10px 30px;
border-radius:5px;
    cursor:pointer;
}
.addNewUsers a:hover{
    background:#5E852A;
}

.addNewUsers .col-xs-4 {
margin-left : 0;
margin-top : 15px;
height : auto;
}
.addNewUsers .glyphicon {
font-size : 12px;
margin-right : 5px;
}
.usersList table th {
color : #fff;
background : #a2a2a2;
font-size : 16px;
padding : 8px;
border : 1px solid #fff;
}
.usersList table td {
color : #777;
font-size : 14px;
padding : 6px;
border-bottom : 1px solid #ccc;
}
.usersList table td select {
width : 100%;
padding : 3px 5px;
margin : 4px 0;
    border-radius:4px;
    background:#F1F1F1;
}
.usersList table .edit a {
background : #76a635;
color : #fff;
padding : 5px 10px;
}
.usersList table .edit a:hover {
background : #5e852a;
cursor : pointer;
}
.usersList table .active a {
background : #2fcc71;
color : #fff;
padding : 2px 4px;
font-size : 13px;
}
.usersList table .deactivated a {
background : #d14524;
color : #fff;
padding : 2px 4px;
font-size : 13px;
}
.addUsers h2 {
color : #777;
padding : 0 0 20px 0;
}
.addUsers .breadcrumb li {
font-size : 14px;
}
.addUsers .contentArea {
background : #fff;
}
.userDetails {
letter-spacing : normal;
}
.addUsers .userDetails input {
width : 100%;
margin : 5px 0 10px 0;
background : #efefef;
padding : 5px;
border : 1px solid #ccc;
}
.addUsers .userDetails select {
width : 80%;
margin : 5px 0 10px 0;
background : #efefef;
border : 1px solid #ccc;
padding : 3px 4px;
    border-radius:5px;
}
.userDetails form .col-xs-6 {
width : 48%;
}
.userDetails .fr {
float : right;
}
.role .col-xs-6 {
padding-bottom : 30px;
}
.role h2 {
padding : 20px 0;
}
.role h6 {
color : #4e4e4e;
font-size : 16px;
font-weight : 600;
padding-bottom : 15px;
}
.role p {
font-size : 14px;
text-align : left;
}

.role label {
color : #7f8e93;
padding : 10px;
    border-radius:5px;
    margin-bottom:10px;
}
.role .col-xs-6 select {
width : 100%;
    border-radius:5px;
}
.addUsers button {
background : #76a635;
color : #fff;
padding : 10px 30px;
border : none;
}
.addUsers .remove button {
background : #ff0000;
    border-radius:5px;
}
.addUsers .remove {
margin-bottom : 20px;
}
.subButtons {
border-top : 1px dashed #ccc;
}
.subButtons .col-xs-4 p {
color : #fff;
text-align : center;
background : #76A635;
padding : 10px 0;
margin : 0 36%;
    border-radius:40%;
}
.subButtons button {
width : 100%;
    border-radius:5px;
}
.confirm p {
font-size : 16px;
padding-bottom : 20px;
}
.proServe .col-xs-4 {
background : #008fcf;
text-align : center;
padding : 15px 0;
margin : 20px 0;
}
.invoiceButtons .col-xs-6 {
background : #5689a3;
text-align : center;
padding : 15px 0;
margin : 20px 0;
width : 48%;
}
.invoiceButtons .col-xs-6:hover {
background : #76a635;
cursor : pointer;
}
.invoiceButtons .fr {
float : right;
}
.invoiceButtons a {
color : #fff;
}
.invoiceButtons .glyphicon {
padding : 0 8px;
}
.expenditureButtons, .invoicesFunctions{
    margin-bottom: 20px;
}

.expenditureButtons .col-xs-4, .invoicesFunctions .col-xs-4 {
    text-align : center;
    padding : 15px 0;
}

.expenditureButtons .col-xs-4:hover, .invoicesFunctions .col-xs-4:hover {
background : #76a635;
cursor : pointer;
}

.expenditureButtons .col-xs-4 {
background : #8bbfd2;
}

.invoicesFunctions .col-xs-4 {
background : #0378A6;
}

.transactButtons .col-xs-4:hover {
background : #2ab866;
cursor : pointer;
}
.proServe .col-xs-4:hover {
background : #2b729e;
cursor : pointer;
}
.expenditureButtons .col-xs-4:hover {
background : #76a635;
cursor : pointer;
}
.transactButtons .mr, .expenditureButtons .mr, .proServe .mr {
margin-right : 3%;
}

.transactButtons a, .expenditureButtons a, .proServe a, .invoicesFunctions a {
color : #fff;
text-decoration : none;
}

.transactButtons .glyphicon, .expenditureButtons .glyphicon, .proServe .glyphicon, .invoicesFunctions .glyphicon {
font-size : 100%;
padding-right : 5px;
}

.buttonControls .cancelBtn a{
	color:#fff;
	background:#ff0000;
}
.advancedFilter {
border-top : 1px dashed #fff;
margin-top : 15px;
}
.advancedActivityFilter input[type="text"] {
background : #fff;
}
.advancedFilter label {
color : #4e4e4e;
font-size : 14px;
padding : 15px 0 10px 0;
}
.advancedFilter form input {
width : 100%;
border : none;
padding : 6px;
}
.advancedFilter .col-xs-4 {
margin : 0;
}
.advancedFilter .centered {
margin : 0 3%;
}
.advancedFilter form .midTable {
margin : 0 3%;
}
.advancedFilter .col-xs-4 select {
width : 100%;
}
.mainFilterBtn {
padding : 15px 0 0 0;
}
.mainFilterBtn .col-xs-3 input {
background : #76a635;
color : #fff;
font-size : 16px;
padding : 10px 0;
    border-radius: 5px;
}
.mainFilterBtn .col-xs-3 input:hover {
background : #6a9530;
}
.productSelect .btn-group {
float : right;
}
.addSaleTable table td a {
color : #fff;
background : #76a635;
padding : 4px 6px;
border-radius:3px;	
}
.addSaleTable .edit {
text-align : center;
}
.addSaleTable table td a:hover {
cursor : pointer;
}
.addSaleTable .addItems button {
background : #76a635;
color : #fff;
font-size : 14px;
float : right;
}
.transactionBg, .financialDash {
background : #ffffff;
padding : 15px;
margin-bottom : 30px;
}
.financialDash .col-xs-6{
    width:48%;
}
.transactionBg label {
color : #777;
font-size : 16px;
padding : 0 0 8px 0;
}
.transactionBg .optional label {
color : #aeaeae;
}
.transactionBg .addLine a{
	color: #fff;
	background: #76a635;
	padding: 8px 12px;
	margin:10px 0;
	border-radius:4px;
}
.deleteEntry a{
	background:#FF6666;
	color:#fff;
	padding:8px 12px;
	float:right;
	border-radius:4px;
	margin-bottom:10px;
}
.transactionBg .addLine a:hover, .deleteEntry a:hover{
	cursor:pointer;
}
.transactionBg input, .transactionBg select, textarea {
background : #f9f9f7;
margin : 0 0 15px 0;
width : 100%;
border : 1px solid #dadada;
padding : 8px;
font-size : 14px;
    border-radius:5px;
}
.transactionBg .col-xs-6 {
width : 48%;
}
.transactionBg .fl {
float : right;
}
.transactSubmit .col-xs-3 {
float : right;
}


.transactSubmit input, .details .col-xs-4 input {
color : #fff;
background : #76a635;
padding : 12px 0;
}

.transactSubmit input[type=reset], .transactSubmit input[value=Cancel] {
color : #fff;
background : #c7c7c7;
padding : 12px 0;
}

.transactionBg .col-xs-4 input[type=submit]{
    color:#fff;
    background:#76a635;
    padding:12px 40px;
    margin-top:20px;
}

.transactionBg .col-xs-8, .transactionBg .col-xs-4{
    float:left;
}

.transactionBg .col-xs-4{
    width:29.3%;
}

.transactSubmit input:hover, .details .col-xs-4 input:hover {
background : #6a9530;
}

.addSaleTable h3 {
padding-bottom : 20px;
    text-transform: uppercase;
}

.financialDash .topBox {
background : #47AECD;
padding : 15px;
margin : 0;
}

.financialDash .topBoxExp {
background : #8bbfd2;
padding : 15px;
margin : 0;
}
.financialDash .topBoxProductsServices {
background : #008fcf;
padding : 15px;
margin : 0;
}
.financialDash .topBoxProducts {
background : #8bbfd2;
padding : 15px;
margin : 0;
}
.financialDash .topBoxInvoicesFunctions {
background : #46A1D9;
padding : 15px;
margin : 0;
}
.financialDash .topBoxProService {
background : #008fcf;
padding : 15px;
margin : 0;
}
.financialDash .topBox h3, .financialDash .topBoxExp h3, .financialDash .topBoxProducts h3,.topBoxProductsServices h3, .topBoxInvoicesFunctions H3{
text-transform : uppercase;
color : #ffffff;
padding : 0 0 8px 0;
    word-spacing: 4px;
}
.financialDash .topBox p, .financialDash .topBoxExp p, .financialDash .topBoxProducts p, .financialDash .topBoxProductsServices p, .topBoxInvoicesFunctions p {
text-transform : uppercase;
color : #ffffff;
font-weight : 600;
font-size : 24px;
padding : 0 0 5px 0;
text-align : left;
}
.financialDash .topBox p span, .financialDash .topBoxExp p span, .financialDash .topBoxProducts p span, .financialDash .topBoxProductsServices p span,
.topBoxInvoicesFunctions p span {
font-size : 14px;
font-weight : normal;
}

.financialDash .topBoxInvoicesFunctions p a {
  color : #46A1D9;
background : #fff;
text-transform : none;
font-size : 14px;
padding : 4px 10px;
font-weight : normal;
    border-radius:5px;  
}

.financialDash .topBoxProductsServices p a {
color : #008FCF;
background : #fff;
text-transform : none;
font-size : 14px;
padding : 4px 10px;
font-weight : normal;
    border-radius:5px;
}
.financialDash .topBox p a {
color : #8bbfd2;
background : #fff;
text-transform : none;
font-size : 14px;
padding : 4px 10px;
font-weight : normal;
    border-radius:5px;
}

.financialDash .topBoxExp p a {
color : #8bbfd2;
background : #fff;
text-transform : none;
font-size : 14px;
padding : 4px 10px;
font-weight : normal;
border-radius:5px;
}

.financialDash .topBoxProducts p a {
color : #8bbfd2;
background : #fff;
text-transform : none;
font-size : 14px;
padding : 4px 10px;
font-weight : normal;
    border-radius: 5px;
}

.financialDash .topBox p a:hover, .financialDash .topBoxExp p a:hover, .financialDash .topBoxProducts p a:hover, 
.financialDash .topBoxProductsServices p a:hover,
.financialDash .topBoxInvoicesFunctions p a:hover {
color : #fff;
background : #91cc41;
cursor : pointer;
    border: 1px solid #fff;
}
.financialDash .topBox .glyphicon, .financialDash .topBoxExp .glyphicon, .financialDash .topBoxProducts .glyphicon,
.financialDash .topBoxInvoicesFunctions .glyphicon {
    font-size: 80%;
padding : 0 4px 0 0;
}
.financialDash .autoMargin {
margin : 0 3%;
}
.financialHeader {
background : #066481;
padding : 15px;
margin : 0 0 20px 0;
}
.financialSubHeader {
background : #aed2e0;
padding : 15px;
margin : 0 0 20px 0;
}
.financialDash h4 {
color : #fff;
font-size : 20px;
text-transform : uppercase;
}
.financialHeader p {
text-align : right;
color : #fff;
}
.financialTable h3 {
text-transform : uppercase;
}
.financialTable table .total td {
color : #2b729e;
border-right : none;
border-left : none;
font-size : 18px;
}
.financialTable table .totalExp td, .manageUsers table .totalExp td{
color : #e84c3d;
border-right : none;
border-left : none;
font-size : 18px;
}
.financialTable table .totalProductServices td {
color : #2b729e;
border-right : none;
border-left : none;
font-size : 18px;
}
.manageUsers table .totalProServe td {
color : #2b729e;
border-right : none;
border-left : none;
font-size : 18px;
}
.financialTable table .totalProServe td {
color : #008FCF;
border-right : none;
border-left : none;
font-size : 18px;
}
.financialTable .col-xs-6 {
width : 48%;
}
.financialTable .fr {
float : right;
}
.financialTable table td a {
    color: #777;
    border-bottom : 1px dotted #4e4e4e;
    text-decoration: none;
    font-weight: 400;
}
.financialTable table td a:hover {
cursor : pointer;
color:#76a635;
font-weight: 700;
}
.financialHeader select, .financialSubHeader select {
width : 80%;
border : none;
padding : 2px 8px;
float : right;
}
.financialHeader select:hover, .financialSubHeader select:hover {
cursor : pointer;
}
.financialDash .borderTop {
border-top : 1px dashed #a2a2a2;
padding : 20px 0;
}
.financialDash .borderBttm {
border-top : 1px dashed #a2a2a2;
padding : 10px 0;
}
.financialDash .borderBottom {
border-bottom : 1px dashed #ddd;
}
.financialDash input {
font-size : 14px;
color : #777;
background : #f9f9f7;
border : 1px solid #dadada;
padding : 8px;
width : 100%;
}
.financialDash label {
color : #777;
font-size : 16px;
padding : 0 0 10px 0;
}

.financialDash textarea {
min-height : 60px;
}
.borderBottom span:hover {
cursor : pointer;
}
.borderBottom .col-xs-6 {
padding-bottom : 10px;
}
.details .col-xs-6 {
width : 48%;
}
.details .fr {
float : right;
}
.topPad {
padding-top : 20px;
}
.bottomPad {
padding-bottom : 20px;
}
.details .col-xs-4 {
float : right;
margin : 0;
padding-top : 20px;
}
.accountActivity table td {
text-align : left;
border-bottom : 1px dotted #dadada;
padding : 10px 0;
}
.accountActivity .last td, .addSaleTable .last td {
color : #2b729e;
font-size : 18px;
border-top : 1px solid #8bbfd2;
}
.addSaleTable .last td {
border-left : none;
border-right : none;
border-top : 1px solid #8bbfd2;
}
.addSaleTable .negative {
color : #ff0000;
}
.accountActivityRepoting {
padding : 0 0 10px 0;
}
.filterSearch .form-group {
margin : 0;
padding : 0;
}
.filterSearch input{
    width:100%;
}
.filterSearch .col-xs-8{
    float:left;
}

.filterSearch input{
    padding:10px 0 8px 10px;
    border:1px solid #ccc;
    font-size:14px;
}

.filterSearch button{
    color:#ffffff;
    background:#76A635;
    width:100%;
    font-size:16px;
    padding:9px 0;
    border-radius:5px;
    border:none;
}

.filterSearch .glyphicon{
    padding-right:10px;
}

.filterForm .col-xs-4 {
padding : 0;
}
.filterForm .col-xs-4 form input {
background : #fff;
color : #777;
width : 80%;
padding : 8px 6px 6px 6px;
border : 1px solid #a2a2a2;
font-size : 14px;
}
.filterForm .col-xs-4 form input:hover {
background : #efefef;
}
.filterForm .col-xs-4 form button {
background : #a2a2a2;
padding : 10px;
color : #fff;
border : none;
text-transform : none;
margin : 0 0 0 2px;
}
.filterForm .col-xs-4 form button:hover {
background : #76a635;
cursor : pointer;
}
.expSummary, .productServicesSummary,  {
padding : 15px;
margin-bottom : 20px;
}
.expSummary {
background : #e84c3d;
}

.productsServicesSummary {
background : #008FCF;
}

.invoiceActivitySummary {
background : #5689a3;
padding : 10px 0 0 10px;
margin-bottom : 10px;
}
.invoiceActivitySummary .col-xs-6 select {
width : 100%;
padding : 4px;
font-size : 12px;
color : #a2a2a2;
}
.invoiceActivitySummary h3 {
font-size : 14px;
color : #fff;
text-transform : none;
}
.productServicesSummary {
background : #8bbfd2;
    padding: 15px;
    margin-bottom: 20px;
}

.invoicesFunctionsSummary {
    background : #0378A6;
    padding: 12px;
    margin-bottom: 20px;
}

.productServicesSummary h3, .productsServicesSummary h3, .invoicesFunctionsSummary h3 {
color : #fff;
padding : 0;
font-size : 15px;
}

.expSummary {
    margin-bottom: 20px;
}
.expSummary h3 {
    color: #fff;
    padding: 12px 8px;
}
.expSummary h3 a, .productServicesSummary h3 a, .productsServicesSummary h3 a {
text-decoration : none;
}
.expSummary .glyphicon, .productServicesSummary .glyphicon, .productsServicesSummary .glyphicon {
float : right;
}
.expSummary .glyphicon:hover, .productServicesSummary .glyphicon:hover{
cursor : pointer;
}
.expSummary select, .productServicesSummary select {
font-size : 14px;
float : right;
}
.expSummary select:hover, .productServicesSummary select:hover {
cursor : pointer;
}
.reports h1 {
font-size : 20px;
color : #fff;
text-transform : uppercase;
margin : 10px 0;
}
.reports p {
color : #fff;
}
.reportsHeader {
background : #2d729e;
padding : 10px;
}
.reportsHeader .fl h1, .reportsHeader .fl p {
text-align : left;
}
.reportsHeader .fr h1, .reportsHeader .fr p {
text-align : right;
}
.reports table th {
background : #6c9cbb;
font-size : 14px;
padding : 10px 5px;
color : #fff;
border : 1px dotted #c4d7e4;
border-top : 1px solid #fff;
text-transform : uppercase;
border-left : none;
font-weight : 400;
}
.reports table td {
color : #4e4e4e;
font-size : 14px;
padding : 12px 0;
}
.reports table tr {
border-left : 1px solid #f1f1f1;
border-right : 1px solid #f1f1f1;
}
.reports table tr:hover {
background : #d9d9d9;
cursor : pointer;
}
.reportsFooter {
padding : 30px 0 0 0;
}
.reportsFooter p {
color : #777;
font-size : 14px;
}
.reportsFooter .col-xs-6 p {
padding : 8px;
}
.reportsFooter .col-xs-4 p {
text-align : left;
padding : 8px 0;
}
.reportsFooter .col-xs-2 img {
width : 100%;
float : right;
}

.notice p {
font-size : 14px;
color : #ff0000;
}

.filterAdvancedBtn{
    margin-top:20px;
}
.filterAdvancedBtn button[type=submit]{
    background:#76A635;
    color:#fff;
    padding:10px 30px;
    font-size:14px;
    float:left;
    border-radius: 5px;
}
.filterAdvancedBtn button[type=submit]:hover, .filterAdvancedBtn button:hover{
    background:#6A9530;
}
.filterAdvancedBtn button{
    background:#a2a2a2;
    color:#fff;
    padding:10px 30px;
    font-size:14px;
    float:left;
}

.filterAdvancedBtn a{
    margin:0;
}

.filterAdvancedBtn .fr{
    float:right;
}
.bottomPad{
    padding-bottom:20px;
}

.bottomTopPad{
    padding:20px 0;
}
.incomeReceived .last td{
    text-align:right;
}

.transactSubmit .cancelButton input[type=submit]{
    background:#a2a2a2;
}

.fr{
    float:right;
}

.productServicesSummary select{
    border-radius:5px;
    color:#777;
    font-size:14px;
}
.topBoxProductsServices .glyphicon{
    font-size:12px;
    padding-right:5px;
}
.filterForm input[name=quantity]{
    width:90%;
    color:#777;
    padding:7px;
    border-radius:5px;
    border:1px solid #a2a2a2;
}

.contactDetails h2{
    text-transform:uppercase;
}

.reportsHeaderBg{
    background:#1B5959;
    padding:15px;
}
.reportsHeaderBg h3 {
    text-transform:uppercase;
    color:#fff;
    font-size:24px;
}
.financialReports ul li{
    background:#2E9999;
    color:#fff;
    padding:10px 15px;
    border-radius:5px;
}
.financialReports .col-xs-6, .financialReports .col-xs-4{
    margin-top:20px;
}

.operationalReports ul li{
    background:#3ABFBF;
    color:#fff;
    padding:10px 15px;
    border-radius:5px;
}
.operationalReports .col-xs-6, .operationalReports .col-xs-4{
    margin-top:20px;
}

.administrativeReports ul li{
    background:#45E6E5;
    color:#fff;
    padding:10px 15px;
    border-radius:5px;
}
.administrativeReports .col-xs-6, .administrativeReports .col-xs-4{
    margin-top:20px;
}

.financialReports ul li:hover, .operationalReports ul li:hover, .administrativeReports ul li:hover{
    cursor:pointer;
    background:#257A7A;
}

.financialReports ul li a, .operationalReports ul li a, .administrativeReports ul li a{
    color: #fff;
    text-decoration: none;
}

.administrativeReports .autoMargin {
    margin-left :3%;
    margin-right: 3%;
}
.invoiceForms .col-xs-6{
    width:48%;
}

.invoiceForms .fr{
    float:right;
}

.invoiceForms select{
    width:100%;
    padding:7px;
    color:#777;
    background:#f9f9f7;
    border:1px solid #dadada;
}

.invoiceForms select, .invoiceForms input{
    border-radius:5px;
    font-size:14px;
    width: 100%;
}

.financialDash h2{
    text-transform:uppercase;
    font-size:20px;
}

.quoteSignature td{
    font-weight:400;
    font-size:16px;
}

.quoteButtons .col-xs-2{
    float:right;
}

.quoteButtons .saveButton input, .quoteButtons .cancelButton input, .transactSubmit input[type=reset]{
    color:#fff;
    font-size:16px;
    padding:12px 30px;
    border-radius:5px;
    border:none;
    float:right;
}

.quoteButtons .saveButton input{
    background:#76A635;
}

.quoteButtons .cancelButton input, .transactSubmit input[type=reset]{
    background:#76A635;
}

.quoteButtons .saveButton input:hover, .quoteButtons .cancelButton input:hover, .convertInvoice button:hover, .transactSubmit input[type=reset]:hover{
    background:#5E852A;
    cursor:pointer;
}

.convertInvoice button{
    color:#fff;
    background:#76A635;
    padding:12px 30px;
    border-radius:4px;
    border:none;
    float:right;
    font-size: 16px
}

.addItem button{
    color:#fff;
    background:#76A635;
    padding:6px 12px;
    border-radius:5px;
    float:right;
    font-size: 14px;
    border: 1px solid #fff;
}

.addItem .glyphicon {
    font-size: 80%;
    padding-right: 5px;
}

.paymentDetails select{
    width: 100%;
    padding:2px;
}

.balanceSheet h3{
    padding-top:5px;
}
.balansheetVisual thead{
    text-transform:uppercase;
}
.balansheetVisual tr th{
    background:#2E9999;
} 

.levelOneHeader td{
    color:#2E9999;
    text-transform:uppercase;
    font-weight:600;
    font-size:18px;
}
.levelOneTotal tr td{
    color:#2E9999;
    font-weight:400;
    font-size:16px;
}
.levelOneMain .entryAmount, .levelOneTotal .entryAmount{
    float:right;
}
.entryAmount {
    float: right;
    padding-right: 10px;
}
.levelOneMain tr td, .levelOneTotal tr td{
    float:left;
}
.accountDivide{
    height:30px;
}
.levelTwoHeader tr{
    border:none;
}

.levelTwoHeader tr td{
    text-transform:uppercase;
    font-size:16px;
    color:#4e4e4e;
    border:none;
    font-weight:600;
}

tfoot tr{
    background: #dadada;
    margin-bottom: 20px;
    font-weight: 600;
}

tfoot tr td {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-weight: 600;
}


.footStyle {
    font-size: 16px;
    color: #fff;
    background: #dadada;
    text-transform: uppercase;
    padding: 0;
    margin-right: 10px;
    font-weight: 600;
}
.mainHeader h1 {
    padding-top: 30px;
}

.validation-summary-errors ul li {
    color: #fff;
    background: #E84C3D;
    font-size:14px;
    padding: 5px;
}

/* ----------------------BUSINESS MENU-------------------------------*/

#businessMenu ul li{
    text-transform:uppercase;
    font-size:16px;
    text-align:center;
    background:#a2a2a2;
    width:100%;
    border-radius:5px;
    padding:30px 0;
}

#businessMenu ul a li{
    color:#fff;
    text-decoration:none;   
}

#businessMenu .col-xs-12{
    margin-bottom:20px;
}

#businessMenu .col-xs-6{
   width:46%;
}

#businessMenu .fl{
   float:right;
}

#businessMenu .bizDashboard li:hover,
#businessMenu .bizExpenditure li:hover,
#businessMenu .bizInvoices li:hover,
#businessMenu .bizRevenue li:hover,
#businessMenu .bizProducts li:hover,
#businessMenu .bizAccounts li:hover,
#businessMenu .bizReports li:hover,
#businessMenu .bizContacts li:hover,
#businessMenu .bizAccountant li:hover{
    cursor:pointer;
}

#businessMenu .bizDashboard li:hover,
#businessMenu .bizDashboard li a:active,
#businessMenu .bizDashboard li:visited{
    background:#8BBFD2;
}

#businessMenu ul .bizDashboard.active li{
    background:#8BBFD2;
}

#businessMenu .bizRevenue li:active,
#businessMenu .bizRevenue li:hover{
    background:#2fcc71;
}

#businessMenu ul .bizRevenue.active li{
    background:#2fcc71;
}

#businessMenu .bizExpenditure li:active,
#businessMenu .bizExpenditure li:hover{
    background:#e84c3d;
}

#businessMenu ul .bizExpenditure.active li{
    background:#e84c3d;
}

#businessMenu .bizInvoices li:active,
#businessMenu .bizInvoices li:hover{
    background:#03588c;
}

#businessMenu ul .bizInvoices.active li{
    background:#03588c;
}

#businessMenu .bizProducts li:active,
#businessMenu .bizProducts li:hover{
    background:#665EFF;
}

#businessMenu ul .bizProducts.active li{
    background:#665EFF;
}

#businessMenu .bizAccounts li:active,
#businessMenu .bizAccounts li:hover{
    background:#043a47;
}

#businessMenu ul .bizAccounts.active li{
    background:#043a47;
}

#businessMenu .bizReports li:active,
#businessMenu .bizReports li:hover{
    background:#1b5959;
}

#businessMenu ul .bizReports.active li{
    background:#1b5959;
}

#businessMenu .bizContacts li:active,
#businessMenu .bizContacts li:hover{
    background:#FFA93B;
}

#businessMenu ul .bizContacts.active li{
    background:#FFA93B;
}

#businessMenu .bizAccountant li:active,
#businessMenu .bizAccountant li:hover{
    background:#263248;
}

#businessMenu ul .bizAccountant.active li{
    background:#263248;
}

/*-----------------PERSONAL MENU-----------------------------*/

#personalMenu ul li{
    text-transform:uppercase;
    font-size:16px;
    text-align:center;
    background:#a2a2a2;
    width:100%;
    border-radius:5px;
    padding:30px 0;
}

#personalMenu ul a li{
    color:#fff;
    text-decoration:none;   
}

#personalMenu .col-xs-12{
    margin-bottom:20px;
}

#personalMenu .col-xs-6{
   width:46%;
}

#personalMenu .fl{
   float:right;
}

#personalMenu .perDashboard li:hover,
#personalMenu .perIncome li:hover,
#personalMenu .perExpense li:hover,
#personalMenu .perBills li:hover,
#personalMenu .perBudget li:hover,
#personalMenu .perReports li:hover,
#personalMenu .perAccounts li:hover {
    cursor:pointer;
}

#personalMenu .perDashboard li:hover,
#personalMenu .perDashboard li a:active,
#personalMenu .perDashboard li:visited{
    background:#8BBFD2;
}

#personalMenu ul .perDashboard.active li{
    background:#8BBFD2;
}

#personalMenu .perIncome li:active,
#personalMenu .perIncome li:hover{
    background:#2FCC71;
}

#personalMenu ul .perIncome.active li{
    background:#2FCC71;
}

#personalMenu .perExpense li:active,
#personalMenu .perExpense li:hover{
    background:#E84C3D;
}

#personalMenu ul .perExpense.active li{
    background:#E84C3D;
}

#personalMenu .perBills li:active,
#personalMenu .perBills li:hover{
    background:#2D6F89;
}

#personalMenu ul .perBills.active li{
    background:#2D6F89;
}

#personalMenu .perBudget li:active,
#personalMenu .perBudget li:hover{
    background:#313F8D;
}

#personalMenu ul .perBudget.active li{
    background:#313F8D;
}

#personalMenu .perReports li:active,
#personalMenu .perReports li:hover{
    background:#9C59B8;
}

#personalMenu ul .perReports.active li{
    background:#9C59B8;
}

#personalMenu .perAccounts li:active,
#personalMenu .perAccounts li:hover{
    background:#47AECD;
}

#personalMenu ul .perAccounts.active li{
    background:#47AECD;
}

/*-----------END OF BUSINESS MENU--------------*/

.modal-header h3 {
    text-transform: uppercase;
    word-spacing: 4px;
    font-weight: 600;
}

.modal-footer {
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
}

.modal-body .col-xs-6 {
    width: 46%;
}

.modal-body label {
    font-size: 16px;
    padding: 10px 0; 
}

.modal-body option {
    background: #a2a2a2;
    color: #fff;
}

.modal-body input, .modal-body select{
    color: #777;
    background-color: #F9F9F7;
    width: 100%;
    margin-bottom: 10px;
    border-radius:5px;
    border: 1px solid #dadada;
    font-size: 14px;
    padding: 5px 8px;
}
.modal-body .select2-container {
    margin-bottom: 10px;
}

.modalsTable {
    margin: 20px 0;
}
.modalsTable h6 {
    text-transform: uppercase;
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #777;
}
.modalsTable table thead tr th{
    font-size: 16px;
}

.btn-del {
    color: #fff;
    background: #E04938;
    border: none;
    font-size: 12px;
    border-radius: 2px;
}

.financialDash h2, .financialDash label {
    word-spacing: 4px;
}
.usageform input[type=radio] {
    display: inline-block;
    float: left;
    margin: 2px 10px 0 0;
}


.usageform input[type=submit] {
    color: #fff;
    background: #7AC143;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.usageform input[type=submit]:hover {
    background: #6eae3c;
}

.settingsBorder{
       border-top: 1px dashed #a2a2a2;
}

.settingsControls {
    padding: 20px 0;
}

.settingsControls button, .packageUpgrade button{
    color: #fff;
    background: #7AC143;
    font-size: 14px;
    border: none;
    padding: 15px 20px; 
    border-radius: 5px;
}

.packageUpgrade button a, .history button a {
    color: #fff;
}

.settingsControls button a {
    color: #fff;
    }

.settingsControls button:hover, .settingsControls .passive button:hover, .packageUpgrade button:hover {
      background: #6eae3c;
}

.settingsControls .passive button {
    color: #fff;
    background: #ABABAB;
    font-size: 14px;
    border: none;
    padding: 15px 20px; 
    border-radius: 5px;
    min-width: 200px;

}

.settingsControls .fr button {
    float: right;
}
.settingsControls .glyphicon {
    padding:0 8px 0 4px;
}

.padBottom {
    padding-bottom: 20px;
}

.secQuestions h6 {
    font-size: 16px;
    color: #4e4e4e;
    padding: 20px 0;
    font-weight: 600;
}
.secQuestions select {
    color: #4e4e4e;
    margin: 0 0 10px 0;
    padding: 5px 8px;
    border-radius: 5px;
}
.secQuestions input {
    color: #777;
    background: #EFEFEF;
    border: 1px solid #dadada;
    padding: 5px 8px;
    font-size: 14px;
}
.secQuestions select, .secQuestions input {
    width: 100%;
}

.subscriptionDetails h6 {
    color: #4e4e4e;
    font-weight: bold;
}

.upgrade button {
    background: #33AD5C;
    width: 100%;
    padding: 20px 0;
    border: none;
    border-radius: 5px;
    font-size: 22px;
}
.upgrade button:hover {

}
.upgrade button a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.subscriptionDetails input, .packageUpgrade select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    background: #efefef;
    border: 1px solid #dadada;
    padding: 5px;
    color: #777;
}

.packageUpgrade select {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
    background: #fff;
    border: 1px solid #dadada;
    padding: 5px;
    color: #777;
}
.subscriptionDetails label {
    font-size: 14px;
    color: #4e4e4e;
    padding-bottom: 8px;

}
.subscriptionDetails .col-xs-6 {
    width: 48%;
}

.packageUpgrade p {
    font-size: 15px;
}

.packageUpgrade, .history {
    padding-bottom: 20px;
}

.packageUpgrade {
    background: #efefef;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0 20px 0;
}
.packageUpgrade h6 {
    color: #4e4e4e;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 10px;
}

.primaryInfo .col-xs-6, .contactInfo .col-xs-6, .financialYear .col-xs-6  {
    width: 48%;
}

.primaryInfo h6, .contactInfo h6 {
    color: #4e4e4e;
    font-size: 20px;
    text-transform: none;
}

.accountInfo h6  {
    color: #4e4e4e;
    font-size: 28px;
    text-transform: none;
    padding-bottom: 20px;
}

.financialYear h6 {
    color: #4e4e4e;
    font-size: 20px;
    text-transform: none;
}

.accountSettings input[type=textarea] {
    min-height: 80px;
}

.accountSettings select {
    background: #F9F9F7;
    border: 1px solid #dadada;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}
.financialYear .col-xs-4 {
    margin: 0;
}

.financialYear .middleClass {
    margin: 0 20px 0 20px;
}

.expiredSub h3, .renewExpired h3{
    font-size: 48px;
    padding-bottom: 30px;
}

.expiredSub h2 {
    float: left;
}


.renewExpired {
    background: #5CBD7D;
    border-radius: 5px;
    padding: 20px;
}

.renewExpired p {
    color: #fff;
    font-size: 16px;
    font-style: normal;
}

.renewExpired a {
    color: #fff;
    background: #7AC143;
    text-align: center;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
}

.renewExpired a:hover {
    background: #87C756;
}

.renewExpired .col-xs-4, .renewExpired .col-xs-6, .renewExpired .col-xs-3, .renewExpired .col-xs-2 {
    margin: 20px 0;
}

.emailSubmit .col-xs-3 p a {
color : #fff;
background : #7ac143;
padding : 8px 20px;
    border-radius: 5px;
    font-size: 14px;
}

.emailSubmit .col-xs-3 {
    padding-top: 20px;
}

.emailSubmit .col-xs-3 p a:hover{
background : #33ad5c;
cursor : pointer;
}

.loginHeader h2 {
    float: left;
    text-align: left;
    font-size: 40px;
    color: #fff;
}

#topProducts table .total td, #topSuppliers table .total td{
    color: #fff;
    background: #FF7272;
}

#starterpackage h2 span, .createAccountButton span{
    text-transform: uppercase;
    font-weight: 600;
}

 .createAccountButton span {
     font-style: italic;
 }

#starterpackage .col-xs-6 {
    width: 48%;
}

 #starterpackage h2 {
     padding: 0 0 20px 0;
     font-weight: 600;
     color: #5CBD7D;
     float: none;
     text-transform: none;
 }

 .trialLeft {
     background : url(../images/transWhite.png) repeat;
     padding: 10px;
 }

 .trialLeft h3 {
     color: #33AD5C;
     font-size: 28px;
     padding: 20px 15px;
 }
 #starterpackage  .trialLeft p {
     color: #4e4e4e;
     text-align: left;
 }

 .trialLeft p {
     border-top: 1px dashed #777;
     text-align: center;
     padding: 20px 0;
     font-size: 16px;
     line-height: 120%;
     margin: 0 20px;
     font-weight: normal;
 }

  .trialLeft p span{
      font-size: 16px;
      color: #33AD5C;
      border-bottom: 1px dotted #4e4e4e;
 }

 .accountForm .createNewAccount p {
      color: #fff;
      font-size: 16px;
      text-align: center;
  }

 .accountForm .createNewAccount p a {
     text-transform: none;
     border-bottom: 1px dotted #fff;
     padding: 0;
 }

 .trialTerms p {
     font-size: 14px;
 }


 .input-group .form-control {
     border-radius: 5px;
 }

 .filterAdvancedBtn button {
     background: #a2a2a2;
     padding: 10px 20px;
 }

 input[id=Tags] {
     border-radius: 5px;
 }

 #advancedFilterContainer .col-xs-4 {
     padding-right: 20px
 }

.contentArea .padBottom{
    padding: 0;
}

#collapseTwo .panel-body p {
    font-size: 16px;
    color: #333;
    text-align: left;
    padding: 0 0 10px 0;
    word-spacing: 1px;
    margin: 0;
}

#collapseTwo .panel-body p span {
    font-size: 14px;
    color: #777;
    font-weight: normal;
    text-decoration: none;
    
}

#collapseTwo .panel-body p, #collapseTwo .panel-body p span {
    border: none;
    font-weight: 500;
}
#collapseTwo .panel-body p a {
    color: #777;
    border-bottom: 1px dashed #777;
}

.learnMore {
    margin: 15px;
}

.learnMore .panel-default .panel-heading {
    color: #fff;
    background: #5CBD7D;
    border: none;
}

.learnMore .glyphicon {
    float: right;
}

.expenditureButtons .autoMargin {
    margin : 0 3%;
}

.financialSubHeader select, .financialHeader select {
    border-radius: 4px;
}

.filterForm  input {
    padding: 8px 10px 6px 10px;
    border-radius: 5px;
    border: 1px solid #a2a2a2;
}

.reportrange {
    background: #fff;
    border-radius: 5px;
}
.feedBack {
    float: right;
    padding: 18px 0 0 0;
}

.feedBack a{
    font-size: 12px;
    color: #fff;
    background: #8BBFD2;
    padding: 4px 8px;
    border-radius: 2px;
    font-weight: normal;
}

.feedBack a:hover {
    background: #7AC143;
    cursor: pointer;
}

.feedBack .glyphicon {
    margin-right: 5px;
}

.billsButton a{
    font-size:12px;
    color:#2D6F89;
    background:#fff;
    border-radius:4px;
    padding:5px 10px;
    margin-bottom:20px;
}

.billsButton a:hover{
    color:#fff;
    background:#87C756;
}

.billsButton .pb{
    padding-bottom:15px;
}

.OccurrenceAlert label{
    font-size:14px;
    margin-bottom:-22px;
    margin-left:24px;
}

.OccurrenceAlert input[type=radio]{
    display:inline-block;  
    margin-left:-60px;
}
.OccurrenceAlert p{
    padding-bottom:20px;
}

.OccurrenceAlert .col-xs-4{
    background:#F9F9F7;
    padding:10px 0 0 0;
    border:1px solid #dadada;
    border-radius:5px;
    margin-bottom:20px;
}

.manInvoice button, .manInvoice input[type=submit] {
    background: green;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

.manInvoice .col-xs-4 {
    margin-right: 10px;
}

.productServicesSummary select{
    width:100%;
    padding:5px;
}

.productServicesSummary .pt{
    padding-top:10px;
}

.varianceHighlight{
	background:#F9F9F7;
	border-radius:5px;
	padding:10px;
	border:1px solid #dadada;
}
.varianceHighlight p{
	padding-bottom:10px;
}

.snapshot h3{
	font-size:18px;
	text-transform:uppercase;
    line-height: 160%;
}
.snapshot p{
	font-size:16px;
	margin-top:10px;
}
.snapshot table th, .financialTable table th{
	font-size:14px;
	text-transform:uppercase;
}
.snapshot .bar{
	color:#fff;
	background:#FF7C80;
	text-align:center;
	padding:5px;
	width:160px;
}
.snapshot .col-xs-3{
	width:23.5%;
}

.snapshot input{
	border-radius:5px;
	padding:5px;
}
.snapshot select{
	background:#F9F9F7;
	border:1px solid #dadada;
	padding:5px;
	border-radius:5px;
}
.expenditureButtons .cancelButton{
	background:#ccc;
	border-radius:5px;
}

.bar-salary, .bar-income, .bar-rent, .bar-food, .bar-entertainment, .bar-transport, .bar-health, .bar-expense{
	color:#fff;
	text-align:center;
	padding:5px;
	width:160px;
}

.bar-salary{
	background:#94265B;
}
.bar-income{
	background:#8EB53C;
}
.bar-rent{
	background:#01589A;
} 
.bar-food{
	background:#33AD5C;
}
.bar-entertainment{
	background:#DA501D;
}
.bar-transport{
	background:#EE7C1E;
}
.bar-health{
	background:#8BBFD2;
}
.bar-expense{
	background:#EC2524;
}
.pattern h6, .range h6{
	text-transform:uppercase;
	padding:10px 0;
	font-size:14px;
	font-weight:600;
}
.pattern input[type=radio], .range input[type=radio] {
	display:inline-block;
}
.pattern input[type=radio]{
	margin-top:-20px;
	margin-left:-64px;
}
.pattern label{
	margin-bottom:-22px;
	margin-left:22px;
}
.pattern .recurCol-8 label{
	margin:0;
	padding:0;
} 
.pattern .recurCol-8 input{
	margin-top:10px;
}
.pattern .daysOfWeek label{
	font-size:13px;
	margin-bottom:-16px;
	margin-left:20px;
}
.rangeEnd input[type=radio]{
	margin-left:-50px;
} 
.rangeEnd label{
	font-size:13px;
	margin-left:20px;
	margin-bottom:-22px;
}
.pattern .daysOfWeek input[type=checkbox]{
	margin-left:-30px;
	margin-top:-20px;
}
.pattern .col-xs-6{
	width:48%;
}
.pattern, .range{
	border:1px solid #dadada;
	border-radius:5px;
	padding:20px;
	margin-bottom:20px;
}
.tableTop {
    padding-top: 15px;
}

.messagepop label[for=body] {
    color: #4e4e4e;
    padding-bottom: 10px;
} 

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  margin-top: 15px;
  position:absolute;
 text-align:left;
  width:394px;
  z-index:50;
  padding: 25px 25px 20px;
   border-radius: 5px;
}

label {
  display: block;
}

.messagepop p, .messagepop.div {
  margin: 8px 0 20px 0;
}

.messagepop p a {
    font-size: 16px;
    background: #ccc;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
} 

.messagepop p span {
    font-size: 14px;
    padding: 0 10px;
    color: #777;
}

.messagepop input[type=submit] {
    font-size: 16px;
    background: #76A635;
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
}

.messagepop p a:hover, .messagepop input[type=submit] {
    background: #5E852A;
    cursor: pointer;
}

.glyphicon-edit {
    color: #76A635;
}
.glyphicon-remove-circle {
    color: #E04938;
}

.totalBG {
    background: #a2a2a2;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.resendActivation {
    padding: 20px 0;
}
.resendActivation a {
    color: #fff;
    background: #7AC143;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
}
.resendActivation a:hover {
    background: #6EAE3C;
    cursor: pointer;
}
.mergeBotTop {
    padding: 10px 0;
}
.actSearch form input[type=text] {
    padding: 5px;
}
.perReportsHeaderBg {
    background: #3D4075;
    padding:15px;
}

.perReportsHeaderBg h3 {
    text-transform:uppercase;
    color:#fff;
    font-size:24px;
}

.perFinancialReports ul li{
    background:#A89F4A;
    color:#fff;
    padding:10px 15px;
    border-radius:5px;
}

.perFinancialReports ul li:hover{
    background:#978F43;
}

.perBalansheetVisual thead{
    text-transform:uppercase;
}
.perBalansheetVisual tr th{
    background:#A89F4A;
} 
.perBalansheetVisual .levelOneHeader td{
    color: #978F43;
}

.perBalansheetVisual .levelOneTotal tr td {
color: #978F43;
font-weight: 400;
font-size: 16px;
}
.perBudgetHeader {
    margin-bottom: 20px;
}
.perBudgetHeader {
    background: #7D83A3;
    padding: 15px;
}
.perBudgetHeader select{
    width:100%;
    padding:5px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
}

.perBudgetHeader .pt{
    padding-top:10px;
}

.perBudgetHeader h3 {
    color: #fff;
    line-height: 160%;
}

input[type="hidden"] {
    font-size: 12px;
}

.modal-footer .btn-ok {
    background: #76A635;
}
.modal-footer .btn-cancel {
    background: #A2A2A2;
}

.modal-footer .btn-ok, .modal-footer .btn-can {
   color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    border: none;
    float: left;
    margin-right: 10px;
}

.modal-footer .btn-ok:hover, .modal-footer .btn-can:hover {
    background: #629A36;
}

.productServicesSummary .glyphicon {
    float: left;
    padding-right: 5px;
}

.dayOfMonth select{
    margin: 0;
}

.margTop {
    margin-top: 30px;
}

.receiveAlerts{
    background: #F9F9F7;
    border: 1px solid #dadada;
    padding: 10px;
    border-radius: 5px;
    margin:10px 0 20px 0;
}
.btn-signIn {
    padding-top: 10px;
}
.btn-signIn ul li a{
    color: #fff;
    background: #33AD5C;
    border-radius: 5px;
}

.btn-signIn ul li a:hover{
    background: #7AC143;
}
.gly-action .glyphicon {
    font-size: 100%;
}
.gly-action .glyphicon-edit {
    color: #76A635;
}

.gly-action .glyphicon-download {
    color: #428BCA;
}
.gly-action .glyphicon-remove {
    color: #E84C3D;
}
.table-responsive td a {
    font-weight: bold;
    text-decoration: none;
}
.table-responsive td a span {
    color: #777;
}
.filterForm input {
    width: 100%;
}

.contentArea .caBills {
    background: #2D6F89;
}
.caBills {
color : #ffffff;
padding : 15px;
min-height : 200px;
}
.caBills p {
font-weight : 600;
font-size : 20px;
padding : 15px 0;
}
.caBills p span {
color : #fff;
font-size : 16px;
font-weight : normal;
}

.caBills p a{
    background:#2D6F89;
    color:#fff;
}

.perBillsHeader {
    background: #61A9C4;
    padding: 15px;
    margin-bottom: 20px;
}

.perBillsHeader h3 {
    color: #fff;
    font-size: 22px;
}

.perBillsHeader a {
    font-size: 14px;
    color: #2D6F89;
    background: #fff;
    border-radius: 5px;
    padding: 8px 10px;
    float: right;
    border: 1px solid #fff;
}

.perBillsHeader a:hover {
    color: #fff;
    background: #76A635;
    cursor: pointer;
}

.caBills .glyphicon, .perBillsHeader a .glyphicon{
    font-size: 100%;
    padding-right: 5px;
}

.perBudgetHeader p a {
    background: #fff;
    color: #4e4e4e;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid #fff;
}
.perBudgetHeader p a:hover {
    background: #76A635;
    color: #fff;
    cursor: pointer;
}

.perBudgetHeader .glyphicon {
    font-size: 80%;
    padding-left: 5px;
} 

#integration h2{
	text-transform:uppercase;
}
#integration p{
	color:#777;
	padding-bottom:10px;
	font-size:16px;
	
}
#integration h3 {
	padding-bottom:20px;
}
#integration h3{
	color:#333;
}
#integration h3 span{
	color:#777;
}
#integration .notes p{
	color:#ff0000;
	font-size:14px;
	padding:10px;
	margin-top:20px;
	border:1px dashed #ccc;
}
.TrasnsCheck input{
	width: inherit;
	float:left;
	margin-left:-100px;
}
.TrasnsCheck label{
	float:left;
	margin:-2px 0 0 20px;
}

.TrasnsCheck input[type=radio], .TrasnsCheck label {
display : inline;
cursor : pointer;
}

#accountMan .panel-default > .panel-heading{
    background: #a2a2a2;
    padding: 15px;
}

#accountMan .panel-default > .panel-heading a {
    color: #fff;
}

#accountMan .panel-default .glyphicon {
    padding-right: 5px;
}

#accountMan ul li {
    border-bottom: 1px solid #dadada;
    width: 100%;
}

#accountMan ul li a {
    color: #777;
    line-height: 200%;
    font-weight: 600;
}

#accountMan ul li a:hover, #accountMan ul li a:active {
    font-weight: bold;
    color: #7AC143;
}

.primaryUsage .col-xs-4 {
    background: #f7f7f7;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 12px;
}

.primaryUsage .col-xs-3 {
    margin-top: 15px;
    float: right;
}

/*//Kimani added*/
.email {
    display: none;
}

.activateLink h2{
    width: 100%;
    text-transform: none;
    float: none;
    color: #fff;
    font-weight: 700;
    font-size: 32px;
    padding-bottom: 7px;
}
.activateLink h4{
    width: 100%;
    text-transform: none;
    float: none;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 30px;
    line-height: 1.1em;
}
.activateLink a{
    color: #fff;
    font-weight: 500;
    border-bottom: 1px dotted #fff;
}
.loginBtn{
    background: #5CBD7D;
    color: #fff;
    padding: 8px 15px;
    border-radius: 5px;
}
.loginBtn a, .loginBtn a:hover, .loginBtn a:active, .loginBtn a:focus{
    color: #fff;
}
.loginBtn a:hover, .loginBtn:hover{
    background: #7AC143;
}

/*Updates from new wireframes*/

.bgWhite{
	background:#fff;
}

#landingPage{

}
#landingPage h1{
	color:#fff;
	font-size:70px;
	margin:10px 0 10px 0;
	font-weight:600;
}
#landingPage h1, #landingPage h2{
	text-transform:none;
	text-align: center;
}
.landingTitle h2{
	text-transform:none;
	text-align: center;
    float: none;
}
#landingPage h2{
	color:#33AD5C;
	font-weight:600;
	font-size:36px;
	padding: 8px;
	margin-bottom: 20px;
    text-align: center;
}
.nav-tabs{
	border:none;
}
.nav-tabs li{
	text-align:center;
	font-size:24px;
	text-transform:uppercase;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	color:#fff;
	background:#33AD5C;
    border: none;
}
.nav-tabs > li > a{
	color:#70C68D;
	background:#fff;
	padding:10px 0;
}
.nav-tabs > li > a:hover{
	background:#33AD5C;
	color:#fff;
}
.businesses{
	padding:10px;
}
.businesses ol{
	padding:10px;
	color:#fff;
}
.businesses p{
	color:#fff;
}
.businesses p span{
	font-weight:bold;
}
.businesses ol li{
	list-style-type: disc;
	font-size:16px;
	line-height:normal;
	margin-left:20px;
}
.businesses .col-xs-12{
	text-align:center;
}

.businessesTrial{
	margin:30px 0 0 0;
}
.businessesTrial a{ 
	color:#33AD5C;
	background:#fff;
	padding:4% 32%;
	border-radius:5px;
	font-size:18px;
}
.businessesTrial a:hover{
	color:#fff;
	background:#76A635;
	cursor:pointer;
	border:1px solid #fff;
}

.packageType{
	background:#3D4075;
	color:#fff;
	padding:15px;
	border-radius:5px 5px 0 0;
	border-bottom:1px dashed #fff;
}
.packageType p{
		font-weight:bold;
		font-size:24px;
}
.businesses .col-xs-6{
	margin-left: 4%;
	width:46%;
}
.packageTypeInner{
	background:#fff;
	padding:0 0 30px 0;
	border-radius:0 0 5px 5px;
}
.packageTypeInner h3, .packageTypeInner h4{
	color:#33AD5C;
}
.packageTypeInner h3{
	font-size:24px;
	font-weight:bold;
	padding:15px 0 0 0;
}
.packageTypeInner h4{
	font-size:20px;
	font-weight:normal;
}
.packageTypeInner select{
	width:90%;
	margin:18px 5px 10px 5px;
	padding:4px;
	border-radius:4px;
}
.packageTypeInner ol{
	color:#777;
	margin-bottom:20px;
}
.packageTypeInner ol li{
	text-align:left;
}
.packageBuy a{
	color:#fff;
	background:#2FCC71;
	padding:8px 40px;
	border-radius:5px;
	text-align:center;
}
.packageBuy a:hover, .purchaseSub a:hover{
	background:#76A635;
	color:#fff;
	cursor:pointer;
}

.tabBG{
	background:#70C68D;
	padding:15px 15px 40px 15px;
	border-radius:0 5px 5px 5px;
	border-top:2px solid #33AD5C;
}

/*Purchase Caytree Finacial*/
.purchaseCaytree{
	background:#70C68D;
	padding:15px;
	border-radius:5px;
	border-top:2px solid #33AD5C;
	margin-top:15px;
}
.purchaseTabs{
	padding:10px;
}

.purchaseTabs > li{
	padding:15px 0;
	text-indent:20px;
	font-size:20px;
}
.purchaseTabs > li > a{
	display:inline;
	color:#fff;
}
.purchaseTabs > li.active, .purchaseTabs > li.active > a:focus{
	background:#33AD5C;
	border:1px solid #fff;
	border-radius: 0 5px 5px 0;
	border-left:none;
}

.purchaseTabs > li:hover{
	font-weight:bold;
}
.purchaseCaytree h3{
	color:#fff;
	font-size:28px;
	font-weight:600;
}
.purchaseCaytree .col-xs-8{
	margin-left:3%;
	width:63%;
	padding:10px 10px 20px 0;
}
.purchaseBody{
	background:#fff;
	border-radius:5px;
	padding:30px 30px;
	margin-top:20px;
}
.financialSubscription input{
	width:100%;
	padding:8px 10px;
	border-radius:5px;
	border:1px solid #AAAAAB;
	margin:0 0 20px 0;
}
.financialSubscription label{
	color:#4e4e4e;
	padding:0 0 10px 0;
}
.financialSubscription .col-xs-6{
	width:48%;
}
.financialSubscription input[placeholder]{
	color:#777;
}
.purchaseTerms p{
	font-size:16px;
	color:#777;
}
.purchaseTerms p.small{
	font-size:0.9em;
	color:#777;
}
.purchaseTerms p.small a{
	font-size:0.9em;
	color:#777;
    font-weight: 700;
}
.purchaseTerms p a{
	font-size:16px;
	color:#4e4e4e;
	text-transform:none;
	font-style:normal;
	border-bottom:1px dotted #777;
}
.purchaseSub .col-xs-12{
	text-align:center;
	padding:30px 0;
}
.purchaseSub a{
	color:#fff;
	background:#2FCC71;
	padding:15px 30px;
	border-radius:5px;
	text-align:center;
}
.financialSubscription h4{
	font-size: 20px;
	text-transform:uppercase;
}
.financialSubscription .subPlan{
	padding:20px 0 10px 0;
	font-weight:600;
	color:#70C68D;
}
.radioTerms{
	padding-bottom:10px;
}
.radioTerms input[type=radio]{
	display:inline;
	margin:20px 0 0 -50px;
}
.radioTerms label{
	margin: -20px 0 0 25px;
}
.paypalSection {
	padding:20px 0 0 0;
}
.secAnswer{
	border-top:1px solid #D6D6D6;
	padding:15px 15px 0;
	margin-top:10px;
}
.toolContainer .col-xs-10{
	width:80%;
}
.editProfileForm .dashboardHeadersBG{
	padding:5px;
}
.dashboardHeadersBG p{
	color:#fff;
	font-size:18px;
	padding:5px 0 0 10px;
	text-transform:uppercase;
}
.dashboardHeadersBG select{
	width:100%;
	border-radius:5px;
	background:#fff;
	padding:5px;
	border:0;
}
.homeTable .net td{
	color:#78BBC7;
	font-size:16px;
}
.businessReport, .personalReport{
	padding-top:20px;
}
.businessReport h3, .personalReport h3{
	font-size:24px;
	text-transform:uppercase;
	font-weight:600;
	padding-top:10px;
	margin-bottom:15px;
}

.personalReport h3{
	color:#33AD5C;
}
.businessReport h3{
	color:#2B729E;
}
.businessReport .profileCommit{
	padding:0;
}
.businessReport button{
	float:right;
}
.financialReportLink a {
    color: #777;
border-bottom : 1px dotted #4e4e4e;
    text-decoration: none;
}
.financialReportLink a:hover {
cursor : pointer;
color:#2E9999;
font-size:16px;
}


/* Links in table tbody */

.table tbody.tdLinks td a, .table tbody tr td a, .table tr td a, table tbody.tdLinks td a:hover, .table tbody tr td a:hover, .table tr td a:hover{
    font-weight: 700 !important;
}

table tbody.tdLinks2 td a {
    font-weight: 400;
    color: #4e4e4e;
   
}
table tbody.tdLinks2 td a:hover {
    font-weight: 700;
    color: #76a635;
   
}


/* Custom CSS - Wil */
/* Global */
.n-pm {
    padding: 0;
    margin: 0;
}
.pt {
    padding-top: 15px;
}
.pts {
    padding-top: 7px;
}
.ptl {
    padding-top: 30px;
}
.ptxl {
    padding-top: 75px;
}
.pb {
    padding-bottom: 15px;
}
.pbs {
    padding-bottom: 7px;
}
.pbl {
    padding-bottom: 30px;
}
.pbxl {
    padding-bottom: 75px;
}
.ptbs{
    padding-top: 7px;
    padding-bottom: 7px;
}
.pl {
    padding-left: 15px;
}
.pr {
    padding-right: 15px;
}
.plr {
    padding-left: 15px;
    padding-right: 15px;
}

.plrs{
    padding-left: 7px;
    padding-right: 7px;
}
.mt {
    margin-top: 15px;
}
.mts {
    margin-top: 7px;
}
.mtl {
    margin-top: 30px;
}
.mtxl {
    margin-top: 75px;
}
.mb {
    margin-bottom: 15px;
}
.mbs {
    margin-bottom: 7px;
}
.mbl {
    margin-bottom: 30px;
}
.mbxl {
    margin-bottom: 75px;
}
.ml {
    margin-left: 15px;
}
.mr {
    margin-right: 15px;
}
.mrl {
    margin-right: 30px;
}
.mll {
    margin-left: 30px;
}
.mlr {
    margin-left: 15px;
    margin-right: 15px;
}
.strong {
    font-weight: 700;
}
/* Colors */
.color-red {
    color: #e84c3d;
}
.p{
    font-size: 14px;
    line-height: 1.428;
    padding-bottom: 10px;
}

/* Custom */
.landing-bg { /* Landing Page*/
    background: url(../images/trialBackground.jpg) no-repeat;
    background-size: cover;
}
.lead { /* Footer Paragraph Lead */
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.small {
    font-size: 0.8em;
}
.pTitle {
    color: #fff;
    word-spacing: 2px;
    margin-bottom: 20px;
    font-size: 26px;
}
ul.globalSettings{
    margin-top: 25px;
    font-size: 19px;
}
ul.globalSettings li, ul.globalSettings li a:visited{
    margin-left: 15px;
    color: #999;
}
ul.globalSettings li ul li{
    margin-left: 0;
}

ul.globalSettings li a:hover, ul.globalSettings li a:active{
    color: #000; 
}

.imgContainer {
    width: 200px;
    background: #ccc;
    border-radius: 4px;
    border: #ccc solid 2px;
    text-align: center;
}
.imgContainer img {
    min-width: 100%;
    min-height: 200px;
    background: #ccc;
}
.dotted-underline {
    border-bottom: inherit dotted 1px;
    padding-bottom: 3px;
}

.bg-darker {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQIW2NkYGAwZkADjDQQBAA8aQEF/VnLwAAAAABJRU5ErkJggg==) repeat;
}
.bg-darker:hover {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAE0lEQVQIW2NkYGDwYUADjDQQBABZOAGChnzDxgAAAABJRU5ErkJggg==) repeat;
}
.bg-white{
    background: #fff;
}


/* For Integrations */
.highlight {
    width: 100%;
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;  display: inline-block;
}
.pointer{
    cursor: pointer;
}

.btn-empty{
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.divider{
    margin-top: 14px;
    margin-bottom: 14px;
    border-top: #ccc solid 1px;
    width: 100%;
    display: inline-block;
}
.divider-md{
    margin-top: 18px;
    margin-bottom: 18px;
    border-top: #ccc solid 1px;
    width: 100%;
    display: inline-block;
}
.divider-sm{
    margin-top: 7px;
    margin-bottom: 7px;
    border-top: #ccc solid 1px;
    width: 100%;
    display: inline-block;
}
.bg-light-grey{
    background-color: #f1f1f1;
}
input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

strong, .strong{
    font-weight: 700;
}
.full-width, .fw{
    width: 100%;
}
.table-hover > tbody > tr.inactive > td, .table-hover > tbody > tr.inactive > td > a {
  background-color: #e8e8e8;
  color: #888;
}


.fsd{
    background: #f1f1f1;
    border-top: #ccc solid 1px;
    border-bottom: #ccc solid 1px;
    border-left: #ccc solid 1px;
    height: 41px;
    vertical-align: middle;
    color: #999;
    font-size: 14px;
    cursor: pointer;
}
.fsd:first-child{
    border-left: #ccc solid 1px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.fsd:last-child{
    border-right: #ccc solid 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.fsd a{
    color: #999;
}
.fsd.fsd-filter, .fsd.fsd-search, .fsd.fsd-date, .fsd.fsd-actions, .fsd .fsd-filter, .fsd .fsd-search, .fsd .fsd-date, .fsd .fsd-actions{
    padding: 12px 14px;
    display: block;
}
.fsd:hover{
    background: #fff;
}
.fsd.fsd-search input{
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background: none;
    width: 100%;
    font-size: 14px;
    height: 17px;
    color: #000;
}

/* Editable Table */
tr.tr-editable {
    padding-top: 0;
    padding-bottom: 0;
}
tr.tr-editable td {
    padding: 0;
}
tr.tr-editable td a{
    background: none;
    color: inherit;
    vertical-align: middle;
    display: block;
    padding: 5px 8px;
}
tr.tr-editable td input {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    outline: none;
    background: transparent;
}
tr.tr-editable td input:focus, tr.tr-editable td input:hover {
    background: #f1f1f1;
    border: none;
    border-radius: 0;
}
tr.tr-editable .select2-choice {
    border: none;
}



/* Products & Marketplace */

.marketplaceNav {
    background : #33ad5c;
}

.product-image-sq img{
    width: 100%;
    background: #e2e2e2;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: #bdbdbd solid 2px;
}
