/* Done with LESS */

/* GLOBALS */
/* Colors */
@brand-green-dark: darken(@brand-green, 10%);
@brand-grey: darken(white, 30%);
@brand-grey-light: darken(white, 20);
@brand-grey-lighter: darken(white, 10%);
@brand-grey-lightest: darken(white, 6%);
@brand-grey-dark: darken(white, 60%);
@brand-red: red;
@brand-green: #00783d;

.green {
    color: @brand-green;
}
.red {
    color: @brand-red;
}
.grey{
    color: @brand-grey-dark;
}
.white{
    color: #fff;
}
.bg-white{
    background: #fff;
}
/* Spacing */
@spacing-xlg: @spacing-lg*2;
@spacing-lg: @spacing-md*2;
@spacing-md: 15px;
@spacing-sm: @spacing-md/2;
@spacing-xs: @spacing-sm/2;

@max-height: 720px;
.height-xlg {
    height: @max-height;
    &-min{

    }
}
.height-lg {
    height: @max-height/2;
}
.height-md {
    height: @max-height/3;
}
.height-sm {
    height: @max-height/4;
}
.height-xs {
    height: @max-height/5;
}

.npm {
    padding: 0;
    margin: 0;
}
.padding { @property: padding;
    &-xs{
            @{property}: @spacing-xs;
    }
    &-sm{
            @{property}: @spacing-sm;
    }
    &-md{
            @{property}: @spacing-md;
    }
    &-lg{
            @{property}: @spacing-lg;
    }
    &-xlg{
            @{property}: @spacing-xlg;
    }

    &-top{
        &-xlg{
                @{property}-top: @spacing-xlg;
        }
        &-lg{
                @{property}-top: @spacing-lg;
        }
        &-md{
                @{property}-top: @spacing-md;
        }
        &-sm{
                @{property}-top: @spacing-sm;
        }
        &-xs{
                @{property}-top: @spacing-xs;
        }
    }
    &-bottom{
        &-xlg{
                @{property}-bottom: @spacing-xlg;
        }
        &-lg{
                @{property}-bottom: @spacing-lg;
        }
        &-md{
                @{property}-bottom: @spacing-md;
        }
        &-sm{
                @{property}-bottom: @spacing-sm;
        }
        &-xs{
                @{property}-bottom: @spacing-xs;
        }
    }
    &-left{
        &-xlg{
                @{property}-left: @spacing-xlg;
        }
        &-lg{
                @{property}-left: @spacing-lg;
        }
        &-md{
                @{property}-left: @spacing-md;
        }
        &-sm{
                @{property}-left: @spacing-sm;
        }
        &-xs{
                @{property}-left: @spacing-xs;
        }
    }
    &-right{
        &-xlg{
                @{property}-right: @spacing-xlg;
        }
        &-lg{
                @{property}-right: @spacing-lg;
        }
        &-md{
                @{property}-right: @spacing-md;
        }
        &-sm{
                @{property}-right: @spacing-sm;
        }
        &-xs{
                @{property}-right: @spacing-xs;
        }
    }
}
.margin { @property: margin;
    &-xs{
            @{property}: @spacing-xs;
    }
    &-sm{
            @{property}: @spacing-sm;
    }
    &-md{
            @{property}: @spacing-md;
    }
    &-lg{
            @{property}: @spacing-lg;
    }
    &-xlg{
            @{property}: @spacing-xlg;
    }

    &-top{
        &-xlg{
                @{property}-top: @spacing-xlg;
        }
        &-lg{
                @{property}-top: @spacing-lg;
        }
        &-md{
                @{property}-top: @spacing-md;
        }
        &-sm{
                @{property}-top: @spacing-sm;
        }
        &-xs{
                @{property}-top: @spacing-xs;
        }
    }
    &-bottom{
        &-xlg{
                @{property}-bottom: @spacing-xlg;
        }
        &-lg{
                @{property}-bottom: @spacing-lg;
        }
        &-md{
                @{property}-bottom: @spacing-md;
        }
        &-sm{
                @{property}-bottom: @spacing-sm;
        }
        &-xs{
                @{property}-bottom: @spacing-xs;
        }
    }
    &-left{
        &-xlg{
                @{property}-left: @spacing-xlg;
        }
        &-lg{
                @{property}-left: @spacing-lg;
        }
        &-md{
                @{property}-left: @spacing-md;
        }
        &-sm{
                @{property}-left: @spacing-sm;
        }
        &-xs{
                @{property}-left: @spacing-xs;
        }
    }
    &-right{
        &-xlg{
                @{property}-right: @spacing-xlg;
        }
        &-lg{
                @{property}-right: @spacing-lg;
        }
        &-md{
                @{property}-right: @spacing-md;
        }
        &-sm{
                @{property}-right: @spacing-sm;
        }
        &-xs{
                @{property}-right: @spacing-xs;
        }
    }
}

/* Borders */
.border {
    @property: border;
    @{property}: @brand-grey-light solid 1px;
    &-top{
        @{property}-top: @brand-grey solid 1px;
        &-light {
            @{property}-top: @brand-grey-light solid 1px;
        }
    }
    &-bottom{
            @{property}-bottom: @brand-grey solid 1px;
        &-light{
                @{property}-bottom: @brand-grey-light solid 1px;
        }
    }
    &-left{
            @{property}-left: @brand-grey solid 1px;
        &-light{
                @{property}-left: @brand-grey-light solid 1px;
        }
    }
    &-right{
            @{property}-right: @brand-grey solid 1px;
        &-light{
                @{property}-right: @brand-grey-light solid 1px;
        }
    }

    &-light {
            @{property}: @brand-grey-light solid 1px;
    }
    &-radius {
        border-radius: 4px;
    }
    &:hover{
        border-color: @brand-grey;
    }
    &-2px {
            @{property}-width: 2px;
    }
    &-3px {
            @{property}-width: 3px;
    }
}

/* Misc */
.strong {
    font-weight: bold;
}
a,  a:hover{
    text-decoration: none;
    border: none;
    outline: none;
}
.truncate { /* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.strike{
    text-decoration: line-through;
}
.border-radius {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.full-width{
    width: 100%;
}
.inline{
    display: inline;
}

/* Custom Styling */
body{
    background: @brand-grey-lightest;
}

.header {
    background: white;
    img.logo{
        height: 38px;
        margin-right: @spacing-sm;
        display: inline;
    }
    .top-links{
        background: @brand-green;
        color: #fff;
        ul li {
            margin-right: @spacing-lg;
            a {
                color: fade(#fff, 90%);
                &:hover {
                    color: fade(#fff, 100%);
                }
            }
        }
    }
    .user-profile{
        background: @brand-green;
        color: #fff;
    }
    input.search-box{
        background: @brand-grey-lighter;
        &:focus{
            background: #fff;
        }
    }
}

.carousel{
    background: @brand-grey-lighter;
    overflow: hidden;
}

.store-head{
    .store-background{
        .height-xs;
        overflow: hidden;
        z-index: -100;
        background-color: #000;
        img {
            width: 100%;
            opacity: 0.6;
        }
    }
    .height-xs;

    .store-header {
        position: relative;
        overflow: visible;
        .store-logo{
            position: absolute;
            bottom: -25px;
            float: left;
            width: 100px;
            height: 100px;
            border-radius: 5px;
            background: @brand-green;
            z-index: 1000;
        }
        .store-title{
            position: absolute;
            float: left;
            left: 115px;
            bottom: 15px;
            color: #ffffff;
        }
    }
}

.side-content {
    .filters{
        background: @brand-grey-lightest;

        .categories {
            ul li {
                margin-bottom: @spacing-sm;
                a, a:hover {
                    color: @brand-grey-dark;
                }
            }
        }
    }
}

.items-main {
    background: @brand-grey-lightest;
    .items {
        position: relative;
        margin-bottom: @spacing-lg;
        width: 100%;
        text-align: justify;
        /* Thanks to Chris: https://css-tricks.com/equidistant-objects-with-css/ */

        &:after{
            content: '';
            width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
            display: inline-block;
        }

        .item {
            @width: 18%;
            vertical-align: middle;
            background: darken(#fff, 3%);
            cursor: pointer;
            position: relative;
            display: inline-block;
            width: @width;
            max-height: @width !important;
            overflow: hidden;
            margin: 1.7% 0;
            border-bottom-width: 2px;

            .item-image img{
                width: 100%;
                height: @width !important;
            }
            .caption {
                text-align: left;
                .item-name{
                    padding-bottom: 5px;
                    width: 100%;
                    .truncate;
                }
            }

            &:hover {
                border-bottom: @brand-grey solid 2px;
            }
        }
    }
}

.product{
    .product-image{
        overflow: hidden;

        img{
            width: 100%;
            .border-radius;
        }
    }
    .product-description{

    }
}

.order{
    .order-details{
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
    }
    .order-checkout{
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }
    input.quantity{
        max-width: 50px;
    }
}

.footer{
    background: @brand-green;
    color: fadeout(#fff, 20%);

    *{
        color: #ffffff;
    }

    ul li a {
        color: fadeout(#fff, 20%);
        &:hover{
            color: fadein(#fff, 10%);
        }
    }

    .social-links ul li{
        font-size: 36px;
        padding-left: @spacing-xlg;
    }
}