/* Done with LESS */
/* GLOBALS */
/* Colors */
.green {
  color: #00783d;
}
.red {
  color: red;
}
.grey {
  color: #666666;
}
.white {
  color: #fff;
}
.bg-white {
  background: #fff;
}
/* Spacing */
.height-xlg {
  height: 720px;
}
.height-lg {
  height: 360px;
}
.height-md {
  height: 240px;
}
.height-sm {
  height: 180px;
}
.height-xs {
  height: 144px;
}
.npm {
  padding: 0;
  margin: 0;
}
.padding-xs {
  padding: 3.75px;
}
.padding-sm {
  padding: 7.5px;
}
.padding-md {
  padding: 15px;
}
.padding-lg {
  padding: 30px;
}
.padding-xlg {
  padding: 60px;
}
.padding-top-xlg {
  padding-top: 60px;
}
.padding-top-lg {
  padding-top: 30px;
}
.padding-top-md {
  padding-top: 15px;
}
.padding-top-sm {
  padding-top: 7.5px;
}
.padding-top-xs {
  padding-top: 3.75px;
}
.padding-bottom-xlg {
  padding-bottom: 60px;
}
.padding-bottom-lg {
  padding-bottom: 30px;
}
.padding-bottom-md {
  padding-bottom: 15px;
}
.padding-bottom-sm {
  padding-bottom: 7.5px;
}
.padding-bottom-xs {
  padding-bottom: 3.75px;
}
.padding-left-xlg {
  padding-left: 60px;
}
.padding-left-lg {
  padding-left: 30px;
}
.padding-left-md {
  padding-left: 15px;
}
.padding-left-sm {
  padding-left: 7.5px;
}
.padding-left-xs {
  padding-left: 3.75px;
}
.padding-right-xlg {
  padding-right: 60px;
}
.padding-right-lg {
  padding-right: 30px;
}
.padding-right-md {
  padding-right: 15px;
}
.padding-right-sm {
  padding-right: 7.5px;
}
.padding-right-xs {
  padding-right: 3.75px;
}
.margin-xs {
  margin: 3.75px;
}
.margin-sm {
  margin: 7.5px;
}
.margin-md {
  margin: 15px;
}
.margin-lg {
  margin: 30px;
}
.margin-xlg {
  margin: 60px;
}
.margin-top-xlg {
  margin-top: 60px;
}
.margin-top-lg {
  margin-top: 30px;
}
.margin-top-md {
  margin-top: 15px;
}
.margin-top-sm {
  margin-top: 7.5px;
}
.margin-top-xs {
  margin-top: 3.75px;
}
.margin-bottom-xlg {
  margin-bottom: 60px;
}
.margin-bottom-lg {
  margin-bottom: 30px;
}
.margin-bottom-md {
  margin-bottom: 15px;
}
.margin-bottom-sm {
  margin-bottom: 7.5px;
}
.margin-bottom-xs {
  margin-bottom: 3.75px;
}
.margin-left-xlg {
  margin-left: 60px;
}
.margin-left-lg {
  margin-left: 30px;
}
.margin-left-md {
  margin-left: 15px;
}
.margin-left-sm {
  margin-left: 7.5px;
}
.margin-left-xs {
  margin-left: 3.75px;
}
.margin-right-xlg {
  margin-right: 60px;
}
.margin-right-lg {
  margin-right: 30px;
}
.margin-right-md {
  margin-right: 15px;
}
.margin-right-sm {
  margin-right: 7.5px;
}
.margin-right-xs {
  margin-right: 3.75px;
}
/* Borders */
.border {
  border: #cccccc solid 1px;
}
.border-top {
  border-top: #b3b3b3 solid 1px;
}
.border-top-light {
  border-top: #cccccc solid 1px;
}
.border-bottom {
  border-bottom: #b3b3b3 solid 1px;
}
.border-bottom-light {
  border-bottom: #cccccc solid 1px;
}
.border-left {
  border-left: #b3b3b3 solid 1px;
}
.border-left-light {
  border-left: #cccccc solid 1px;
}
.border-right {
  border-right: #b3b3b3 solid 1px;
}
.border-right-light {
  border-right: #cccccc solid 1px;
}
.border-light {
  border: #cccccc solid 1px;
}
.border-radius {
  border-radius: 4px;
}
.border:hover {
  border-color: #b3b3b3;
}
.border-2px {
  border-width: 2px;
}
.border-3px {
  border-width: 3px;
}
/* Misc */
.strong {
  font-weight: bold;
}
a,
a:hover {
  text-decoration: none;
  border: none;
  outline: none;
}
.truncate {
  /* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.strike {
  text-decoration: line-through;
}
.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.full-width {
  width: 100%;
}
.inline {
  display: inline;
}
/* Custom Styling */
body {
  background: #f0f0f0;
}
.header {
  background: white;
}
.header img.logo {
  height: 38px;
  margin-right: 7.5px;
  display: inline;
}
.header .top-links {
  background: #00783d;
  color: #fff;
}
.header .top-links ul li {
  margin-right: 30px;
}
.header .top-links ul li a {
  color: rgba(255, 255, 255, 0.9);
}
.header .top-links ul li a:hover {
  color: #ffffff;
}
.header .user-profile {
  background: #00783d;
  color: #fff;
}
.header input.search-box {
  background: #e6e6e6;
}
.header input.search-box:focus {
  background: #fff;
}
.carousel {
  background: #e6e6e6;
  overflow: hidden;
}
.store-head {
  height: 144px;
}
.store-head .store-background {
  height: 144px;
  overflow: hidden;
  z-index: -100;
  background-color: #000;
}
.store-head .store-background img {
  width: 100%;
  opacity: 0.6;
}
.store-head .store-header {
  position: relative;
  overflow: visible;
}
.store-head .store-header .store-logo {
  position: absolute;
  bottom: -25px;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background: #00783d;
  z-index: 1000;
}
.store-head .store-header .store-title {
  position: absolute;
  float: left;
  left: 115px;
  bottom: 15px;
  color: #ffffff;
}
.side-content .filters {
  background: #f0f0f0;
}
.side-content .filters .categories ul li {
  margin-bottom: 7.5px;
}
.side-content .filters .categories ul li a,
.side-content .filters .categories ul li a:hover {
  color: #666666;
}
.items-main {
  background: #f0f0f0;
}
.items-main .items {
  position: relative;
  margin-bottom: 30px;
  width: 100%;
  text-align: justify;
  /* Thanks to Chris: https://css-tricks.com/equidistant-objects-with-css/ */
}
.items-main .items:after {
  content: '';
  width: 100%;
  /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}
.items-main .items .item {
  vertical-align: middle;
  background: #f7f7f7;
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 18%;
  max-height: 18% !important;
  overflow: hidden;
  margin: 1.7% 0;
  border-bottom-width: 2px;
}
.items-main .items .item .item-image img {
  width: 100%;
  height: 18% !important;
}
.items-main .items .item .caption {
  text-align: left;
}
.items-main .items .item .caption .item-name {
  padding-bottom: 5px;
  width: 100%;
  /* https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.items-main .items .item:hover {
  border-bottom: #b3b3b3 solid 2px;
}
.product .product-image {
  overflow: hidden;
}
.product .product-image img {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.order .order-details {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.order .order-checkout {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.order input.quantity {
  max-width: 50px;
}
.footer {
  background: #00783d;
  color: rgba(255, 255, 255, 0.8);
}
.footer * {
  color: #ffffff;
}
.footer ul li a {
  color: rgba(255, 255, 255, 0.8);
}
.footer ul li a:hover {
  color: #ffffff;
}
.footer .social-links ul li {
  font-size: 36px;
  padding-left: 60px;
}
